  .working_div {
    height:75%;
    overflow: auto;
    margin-top: 1%;
    font-size:12px;
  }

  .working_div select {
    height:33.3px;
    font-weight:bold;
    font-size:12px;
  }

  .working_div p{
    font-weight:600;
    font-size:14px;
  }

  .table-font {
    font-size:12px;
    border: 2px sold black;
  }

  .text_input_width {
    width:90px;
  }

  .number_input_width {
    width:45px;
  }

  .table tbody tr th td{
    padding:2px;
  }

  .table tr th select {
    height: 23.14px;
  }

  .table tr td select {
    height: 23.14px;
  }

  tbody > :first-child{
  font-weight:600;
  }