 .classicTheamColor {
        background-image: linear-gradient(to bottom , #ecf6ff, #99d8ea91);
     }
     .header_div{
        padding: 15px;
        border-radius:10px;
        border-bottom: 2px solid #a7a8ab;
     }
     .header_div img{
        width:15%;
     }
     .menu_div{
        width:80%;
        float:right;
        margin-top:1.5%;
        text-align: right;
     }
     .menu_div label{
        font-weight:900;
        float: left;
        padding-left: 23%;
        margin-top:0.8%;
     }
     .menu_div a{
        font-weight:700;
     }
    