<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/body.css">
    <script>
        var app = angular.module("classicLeathers", []);

        app.controller("timeSheetController", function($scope,$http) {
            $scope.employeeList = ["Select","PRANAY","KRISHNA","PRASAD","RAJU","MANI","GIRISH"];
            $scope.selectedEmployeeName=$scope.employeeList[0];
             $scope.saveInTime = function() {
                if($scope.selectedEmployeeName=="Select"){
                    confirm("Invalid Employee Name");
                }else{
                    var confirmation = confirm("Saving In Time For : " +$scope.selectedEmployeeName);
                    if(confirmation==true){
                        var data={
                            "employeeName": $scope.selectedEmployeeName,
                            "entryType": "In",
                        }
                        $http.post('http://localhost:8080/timeSheet',data,{})
                        .then(data => {
                            $scope.message="Data Saved Successfully for In Time"
                            setTimeout(() => {
                                window.location.reload();
                            }, 5000);
                        })
                        .catch(error => {
                            console.log(error.value);
                        });
                    }else{
                         window.location.reload();
                    }
                }
            }
             $scope.saveOutTime = function() {
                if($scope.selectedEmployeeName=="Select"){
                    confirm("Invalid Employee Name");
                }else{
                    var confirmation = confirm("Saving Out Time For : " +$scope.selectedEmployeeName);
                    if(confirmation==true){
                        var data={
                            "employeeName": $scope.selectedEmployeeName,
                            "entryType": "Out",
                        }
                        $http.post('http://localhost:8080/timeSheet',data,{})
                        .then(data => {
                            $scope.message="Data Saved Successfully for Out Time"
                            setTimeout(() => {
                                window.location.reload();
                            }, 5000);
                        })
                        .catch(error => {
                            console.log(error.value);
                        });
                    }else{
                         window.location.reload();
                    }
                }
            }

             var monthNumber = (new Date()).getMonth()+1;
            var month = decodeURIComponent((new RegExp('[?|&]' + 'month' + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
            if(month!=null){
                monthNumber=month;
            }
            $http({method: 'GET', url: 'http://localhost:8080/timeSheet?monthNumber='+monthNumber})
            .then(function successCallback(response) {
					$scope.timeSheetEntryList=response.data;
                },function errorCallback(response) {
					console.log(error.value);
                }
            );

         $scope.UpdateTotalWorkingHours = function(){
            var hoursTotal=0;
            var filterRowCount=0

            for(var i = 0, size =  $scope.timeSheetEntryList.length ; i < size ; i++){
                var item =  $scope.timeSheetEntryList[i];
                var name = item.employeeName;
                if($scope.timeSheetFilter.toLowerCase() == name.toLowerCase() && item.totalWorkingHours>0){
                    hoursTotal=hoursTotal+parseFloat(item.totalWorkingHours);
                    filterRowCount=filterRowCount+1;
                }
            }
            var averageWorkingHours=(hoursTotal/filterRowCount);

             $scope.showAverage=hoursTotal>0;
             $scope.daysPresent=filterRowCount;
             $scope.hoursTotal=hoursTotal.toFixed(2);
             $scope.averageWorkingHours=averageWorkingHours.toFixed(2);
         }


         });


    </script>

</head>
<body class="classicTheamColor" ng-app="classicLeathers">
<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersMenu.html" class="btn btn-primary">Home</a>
        <a href=".\ClassicLeathers_welcomePage.html" class="btn btn-primary">Sales</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
        <a href=".\StockReport.html" class="btn btn-primary">Stock</a>
    </div>
</div>

<div ng-controller="timeSheetController" class="working_div container">
    <h4></label> <label ng-bind="message"></label></label>
    </h4>
    <h4><label>Employee Name:</label> <select class="btn btn-primary" ng-model="selectedEmployeeName"
                                              ng-options="x for x in employeeList"></select>
        &nbsp&nbsp&nbsp<input type="button" href=".\ClassicLeathersMenu.html" class="btn btn-primary"
                              ng-click="saveInTime()" value="Stepping In"></input>
        <input type="button" href=".\ClassicLeathersMenu.html" class="btn btn-primary" ng-click="saveOutTime()"
               value="Stepping Out"></input>
    </h4>
    <table class="table table-font">
        <tr>
            <th>Filter by Date, Employee Name, Present Yes/No &nbsp
                <Input type="text" ng-model="timeSheetFilter" ng-change="UpdateTotalWorkingHours()"></th>
            <th ng-show="showAverage">Total / Average Working Hours : <label ng-bind="hoursTotal"></label> &nbsp / &nbsp <label ng-bind="averageWorkingHours"></label></th>
            <th ng-show="showAverage">Number of days present : <label ng-bind="daysPresent"></label></th>
        </tr>
    </table>
    <table class="table table-font">
        <tr>
            <th>Date</th>
            <th>Employee Name &nbsp </th>
            <th>Present</th>
            <th>Working Hours</th>
            <th>Latest In Time</th>
            <th>Latest Out Time</th>
        </tr>

        <tr ng-repeat="timeSheetEntry in timeSheetEntryList | filter : timeSheetFilter"
            ng-style="{'background-color': (timeSheetEntry.isTodayEntry=='true'&&timeSheetEntry.latestOutTime=='NA') ? '#9be39b':
            (timeSheetEntry.isTodayEntry=='true')?'#a7b9bc':none}">
            <td>{{timeSheetEntry.date}}</td>
            <td>{{timeSheetEntry.employeeName}}</td>
            <td ng-style="{'background-color': (timeSheetEntry.present=='No')?'#e3a7a7':none}">
                {{timeSheetEntry.present}}
            </td>
            <td>
                <div data-toggle="tooltip" data-placement="top" title="{{timeSheetEntry.eventlogList}}">
                    {{timeSheetEntry.totalWorkingHours}} Hrs
                </div>
            </td>
            <td>{{timeSheetEntry.latestInTime}}</td>
            <td>{{timeSheetEntry.latestOutTime}}</td>
        </tr>

    </table>

</div>
</body>
</html>
