<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/body.css">

    <script>
      var app = angular.module("classicLeathers", []);
      app.controller("retailController", function($scope,$http) {
<!----------------------------------------SALES----------------------------------------------------------------------------->
            $scope.genderList = ["MALE", "FEMALE"];
            $scope.categoryList = ["NA","LFXOT01","LFXOT02","LFXOT03","LFXOT04","LFXOT05","LFXOT06","LFXOT07","LFXOT08","LFBIN03","LFBOT01","LFBOT02","LFPOT01","S1","S2","W3","W4","W5","W6","W7","W7R","W8","W9","W10","W11","W12","W13","W14","A01","A02","A03","KV","KC","D21","WLT5","WLT6","WLT7","WLT8","WLT9","WLT10","BLT5","BLT6","BLT7","BLT8","BLT9","LAB3","LAB4","LHB1","LHB2","LHB3","LHB4","OTTO SINGLE","OTTO WEEKLY"];
            $scope.sizeList = ["NA","35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47"];
            $scope.mopList = ["CASH","G-PAY","SWIPE"];
            $scope.employeeList = ["PRANAY","KRISHNA","PRASAD","RAJU","MANI"];
            $scope.saveSalesEntry = function() {
                if($scope.customerName==null || $scope.customerName==""){
                    window.alert("Invalid Customer");
                }else if($scope.gender==null || $scope.gender==""){
                    window.alert("Invalid Gender");
                }else if($scope.mobileNumber==null || $scope.mobileNumber==""||$scope.mobileNumber.length <10){
                    window.alert("Invalid mobileNumber");
                }else if($scope.category==null || $scope.category==""){
                    window.alert("Invalid Category");
                }else if($scope.productDetails==null || $scope.productDetails==""){
                    window.alert("Invalid Product Details");
                }else if($scope.quantity==null || $scope.quantity==""){
                    window.alert("Invalid Quantity");
                }else if($scope.size==null || $scope.size==""){
                    window.alert("Invalid Size");
                }else if($scope.mrp==null || $scope.mrp==""){
                    window.alert("Invalid MRP");
                }else if($scope.discount==null || $scope.discount==""){
                    window.alert("Invalid Discount");
                }else if($scope.mop==null || $scope.mop==""){
                    window.alert("Invalid MOP");
                }else if($scope.cashPayment==null || $scope.cashPayment==""){
                    window.alert("Invalid Cash");
                }else if($scope.gPayPayment==null || $scope.gPayPayment==""){
                    window.alert("Invalid G-Pay");
                }else if($scope.swipePayment==null || $scope.swipePayment==""){
                    window.alert("Invalid Swipe");
                }else if($scope.updatedBy==null || $scope.updatedBy==""){
                    window.alert("Invalid Updated By");
                }else{
                    var data={"customerName": $scope.customerName,
                              "gender": $scope.gender,
                              "mobileNumber": $scope.mobileNumber,
                              "productDetails": $scope.productDetails,
                              "quantity": $scope.quantity,
                              "size": $scope.size,
                              "mrp": $scope.mrp,
                              "discount": $scope.discount,
                              "salePrice": $scope.mrp-$scope.discount,
                              "modeOfPayment": $scope.mop,
                              "cashPayment": $scope.cashPayment,
                              "gPayPayment": $scope.gPayPayment,
                              "swipePayment": $scope.swipePayment,
                              "updatedBy": $scope.updatedBy,
                              "category": $scope.category
                    };
                    var headers = { 'content-type': 'application/json'}
                    $http.post('http://localhost:8080/retailSalesReport',data,{})
                    .then(data => {
                            // data received by server
                              window.location.reload();
                    })
                    .catch(error => {
                            console.log(error.value);
                    });
                }
            };



            $http({method: 'GET', url: 'http://localhost:8080/retailSalesReport'})
            .then(function successCallback(response) {
					$scope.salesEntryList=response.data;
					var total=0;
					var todayTotal=0;
					var cashTotal=0;
					for(var i = 0, size = response.data.length; i < size ; i++){
                        var item = response.data[i];
                        total +=  Number(item.salePrice);
                        cashTotal +=  Number(item.cashPayment);
                        if(item.isTodaySale=='true'){
                            todayTotal += Number(item.salePrice);
                        }
                    }
                    $scope.totalBusiness=total;
                    $scope.totalCashBusiness=cashTotal;
                    $scope.monthlyAverage=(total/new Date().getDate()).toFixed(2);
                    $scope.todayTotal=todayTotal;
                },function errorCallback(response) {
					console.log(error.value);
                }
            );
<!----------------------------------------SALES----------------------------------------------------------------------------->
      });










    </script>
</head>
<body class="classicTheamColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersMenu.html" class="btn btn-primary">Home</a>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
        <a href=".\StockReport.html" class="btn btn-primary">Stock</a>
    </div>
</div>
<div ng-controller="retailController" class="working_div container">
    <p> Show Average Data <input type="checkbox" class="custom-control-input" ng-model="showAverageData"> <label ng-show="showAverageData"> Business
        Total / Cash / Online: {{totalBusiness}} / {{totalCashBusiness}} /
        {{totalBusiness-totalCashBusiness}} &nbsp&nbsp&nbsp&nbsp&nbsp Current Month Average: &nbsp{{monthlyAverage}}
        &nbsp&nbsp&nbsp&nbsp&nbsp Today's Sale: &nbsp{{todayTotal}}</label></p>
    <table class="table table-font">
        <tr>
            <th colspan="16">Search In Sales Data &nbsp&nbsp<Input type="text" ng-model="salesEntryFilter"></th>
        </tr>
        <tr>
            <th>Customer Name</th>
            <th>Gender</th>
            <th>Mobile Number</th>
            <th>Category</th>
            <th>Product Details</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>MRP</th>
            <th>Discount</th>
            <th>Sale Price</th>
            <th>MOP</th>
            <th>Cash</th>
            <th>G-Pay</th>
            <th>Swipe</th>
            <th>Updated By</th>
            <th>Date</th>
        </tr>
        <tr>
            <th><input type="text" ng-model="customerName" class="text_input_width"></th>
            <th>
                <select ng-model="gender" ng-options="x for x in genderList"></select>
            </th>
            <th><input type="text" ng-model="mobileNumber" class="text_input_width"></th>
            <th>
                <select ng-model="category" ng-options="x for x in categoryList"></select>
            </th>
            <th><input type="text" ng-model="productDetails" class="text_input_width"></th>
            <th><input type="text" ng-model="quantity" class="number_input_width"></th>
            <th>
                <select ng-model="size" ng-options="x for x in sizeList"></select>
            </th>
            <th><input type="text" ng-model="mrp" class="number_input_width"></th>
            <th><input type="text" ng-model="discount" class="number_input_width"></th>
            <th><span>{{mrp-discount}} </span></th>
            <th>
                <select ng-model="mop" ng-options="x for x in mopList"></select>
            </th>
            <th><input type="text" ng-model="cashPayment" class="number_input_width"></th>
            <th><input type="text" ng-model="gPayPayment" class="number_input_width"></th>
            <th><input type="text" ng-model="swipePayment" class="number_input_width"></th>
            <th>
                <select ng-model="updatedBy" ng-options="x for x in employeeList"></select>
            </th>
            <th><input type="button" ng-click="saveSalesEntry()" value="save"
                       class="text_input_width btn btn-primary">
            </th>
        </tr>
        <tr ng-repeat="salesEntry in salesEntryList | filter : salesEntryFilter "
            ng-style="{'background-color': (salesEntry.isTodaySale=='true') ? '#a7b9bc':null}">
            <td>{{salesEntry.customerName}}</td>
            <td>{{salesEntry.gender}}</td>
            <td>{{salesEntry.mobileNumber}}</td>
            <td>{{salesEntry.category}}</td>
            <td>{{salesEntry.productDetails}}</td>
            <td>{{salesEntry.quantity}}</td>
            <td>{{salesEntry.size}}</td>
            <td>{{salesEntry.mrp}}</td>
            <td>{{salesEntry.discount}}</td>
            <td>{{salesEntry.salePrice}}</td>
            <td>{{salesEntry.modeOfPayment}}</td>
            <td>{{salesEntry.cashPayment}}</td>
            <td>{{salesEntry.gPayPayment}}</td>
            <td>{{salesEntry.swipePayment}}</td>
            <td>{{salesEntry.updatedBy}}</td>
            <td>{{salesEntry.saleDate}}</td>
        </tr>

    </table>
</div>
</body>
</html>
