<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/body.css">
    <script type="text/javascript">
     var app = angular.module("classicLeathers", []);

     app.controller("expenseController", function($scope,$http) {

          $scope.expenseTypeList = ["TEA & SNACKS", "WATER CAN", "DISTI", "POOJA ITEMS", "TRANSPORT", "TRANSGENDER", "SALARY", "STATIONERY ITEMS" ,"LOAD AMOUNT"];
          $scope.updatedByTypeList = ["MANI","PRANAY","KRISHNA","GIRI","BALAJI"];
          $scope.toList = ["NA","MANI","PRANAY","KRISHNA","GIRI","BALAJI"];
          $scope.mopTypes = ["CASH","ON LINE"];

          $scope.expenseType = "";
          $scope.updatedBy = "";
          $scope.payingTo = "NA";
          $scope.amount = "";
          $scope.mop = $scope.mopTypes[0];
          $scope.paymentReference = "NA";

          $scope.monthNumber = (new Date()).getMonth()+1;
          $scope.loadExpenseData = function(){
          $http({method: 'GET', url: 'http://localhost:8080/expense?monthNumber='+$scope.monthNumber})
            .then(function successCallback(response) {
					$scope.expenseList=response.data;
                },function errorCallback(response) {
					console.log(error.value);
                }
            );
          }
          $scope.loadExpenseData();
          $http({method: 'GET', url: 'http://localhost:8080/expense/availablePettyCash'})
                .then(function successCallback(response) {
                        $scope.availablePettyCash=response.data;
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
          );

          $scope.addExpense = function(){
              if(($scope.mop == "CASH" && $scope.availablePettyCash >= $scope.amount) || $scope.mop != "CASH" || $scope.expenseType == "LOAD AMOUNT" ){
                        var data={"expenseType": $scope.expenseType,
                                          "amount": $scope.amount,
                                          "paidTo": $scope.payingTo,
                                          "updatedBy": $scope.updatedBy,
                                          "mop": $scope.mop,
                                          "paymentReference": $scope.paymentReference
                        }

                        $http.post('http://localhost:8080/expense/save',data,{})
                                  .then(data => {
                                     $scope.message="Data Saved Successfully"
                                        setTimeout(() => {
                                             window.location.reload();;
                                        }, 2000);
                                  })
                                  .catch(error => {
                                          console.log(error.value);
                                  });
               } else{
                  window.alert("Low balance. Load amount");
               }
          }
     });
    </script>
</head>
<body class="classicThemeColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersHome.html" class="btn btn-primary">Home</a>
        <a href=".\ClassicLeathersSalesEntry.html" class="btn btn-primary">New Sale</a>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathersMonthlySales.html" class="btn btn-primary">Sales</a>
        <a href=".\retail\stock.html" class="btn btn-primary">Stock</a>
    </div>
    <div ng-controller="expenseController" class="working_div container">
        <div><p>CLASSIC LEATHERS EXPENSE DATA</p></div>
        <table class="table table-font">
            <tr>
                <th>Available Petty Cash : {{availablePettyCash}}</th>
                <th>Expense Type : &nbsp <select class="text_input_width" ng-model="expenseType"
                                                 ng-options="x for x in expenseTypeList"></select></th>
                <th>Amount : &nbsp <input class="text_input_width" type="text" ng-model="amount"></th>
                <th>Paying To : &nbsp <select class="text_input_width" ng-model="payingTo"
                                              ng-options="x for x in toList"></select></th>
                <th>MOP : &nbsp <select class="text_input_width" ng-model="mop"
                                               ng-options="x for x in mopTypes"></select></th>
                <th>Payment Reference : &nbsp <input type="text" class="text_input_width" ng-model="paymentReference"></th>
                <th>Updated By : &nbsp <select class="text_input_width" ng-model="updatedBy"
                                               ng-options="x for x in updatedByTypeList"></select></th>
                <th><input type="button" ng-click="addExpense()" value="Save"
                           class="btn btn-primary"></th>
            </tr>
        </table>
        <table class="table table-font">
            <tr>
                <td>Date</td>
                <td>Expense Type</td>
                <td>Amount</td>
                <td>Paid To</td>
                <td>MOP</td>
                <td>Payment Reference</td>
                <td>Updated By</td>
            </tr>
            <tr ng-repeat="expenseObj in expenseList">
                <td>{{expenseObj.date}}</td>
                <td>{{expenseObj.expenseType}}</td>
                <td>{{expenseObj.amount}}</td>
                <td>{{expenseObj.paidTo}}</td>
                <td>{{expenseObj.mop}}</td>
                <td>{{expenseObj.paymentReference}}</td>
                <td>{{expenseObj.updatedBy}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
