<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="./css/body.css">
    <script type="text/javascript">
     var app = angular.module("classicLeathers", []);

     app.controller("presentationController", function($scope,$http) {
          $scope.showAll=true;
          $scope.showDrivingData = true;
          $scope.showKoraData = true;
          $scope.showWavesData = true;
          $scope.showASeriesData = true;
          $scope.showMiratData = true;
          $scope.showHandBagsData = true;
          $scope.showBeltAndWalletData = true;
          $scope.showNAData = true;

          $http({method: 'GET', url: 'http://localhost:8080/presentation?showDriving='+$scope.showDrivingData+
          '&showKora='+$scope.showKoraData+
          '&showWaves='+$scope.showWavesData+
          '&ShowASeries='+$scope.showASeriesData+
          '&showMirat='+$scope.showMiratData+
          '&showHandBag='+$scope.showHandBagsData+
          '&showBeltAndWallet='+$scope.showBeltAndWalletData+
          '&showNA='+$scope.showNAData
          })
            .then(function successCallback(response) {
					$scope.totalSalesDtoList=response.data;
					google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback($scope.drawChart);
                },function errorCallback(response) {
					console.log(error.value);
                }
            );

          $scope.updateGraph = function(){
              $http({method: 'GET', url: 'http://localhost:8080/presentation?showDriving='+$scope.showDrivingData+
          '&showKora='+$scope.showKoraData+
          '&showWaves='+$scope.showWavesData+
          '&ShowASeries='+$scope.showASeriesData+
          '&showMirat='+$scope.showMiratData+
          '&showHandBag='+$scope.showHandBagsData+
          '&showBeltAndWallet='+$scope.showBeltAndWalletData+
          '&showNA='+$scope.showNAData
              })
                .then(function successCallback(response) {
                        $scope.totalSalesDtoList=response.data;
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback($scope.drawChart);
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
                );
          }
           $scope.updateParameters = function() {
                  $scope.showDrivingData = $scope.showAll;
                  $scope.showKoraData = $scope.showAll;
                  $scope.showWavesData = $scope.showAll;
                  $scope.showASeriesData = $scope.showAll;
                  $scope.showMiratData = $scope.showAll;
                  $scope.showHandBagsData = $scope.showAll;
                  $scope.showBeltAndWalletData = $scope.showAll;
                  $scope.showNAData = $scope.showAll;
                  $scope.updateGraph();
           }

          $scope.drawChart = function() {
          const resArray = [];
            resArray.push(['MONTH', 'Driving','Kora','Waves','A-Series','Mirat','Hand Bags','Belts & Wallets','NA']);
            for(var i = 0, size =  $scope.totalSalesDtoList.length ; i < size ; i++){
                var totalSalesDto = $scope.totalSalesDtoList[i];
                var totalSale = totalSalesDto.drivingSales+totalSalesDto.koraSales+totalSalesDto.wavesSales+
                totalSalesDto.aSeriesSales+totalSalesDto.miratSales+totalSalesDto.handBagSales+totalSalesDto.beltsAndWalletsSale+totalSalesDto.naSalesSale;
                resArray.push([totalSalesDto.month.split("_")[1]+"_"+totalSale,totalSalesDto.drivingSales,totalSalesDto.koraSales,totalSalesDto.wavesSales,
                totalSalesDto.aSeriesSales,totalSalesDto.miratSales,totalSalesDto.handBagSales,totalSalesDto.beltsAndWalletsSale,totalSalesDto.naSalesSale]);
            }
            data = google.visualization.arrayToDataTable(resArray);
            var options = {
              hAxis: {
                title: 'MONTH'
              },
              vAxis: {
                title: 'TOTAL SALES'
              },
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
          }
     });


    </script>

</head>
<body class="classicTheamColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathers_welcomePage.html" class="btn btn-primary">Sales</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
        <a href=".\StockReport.html" class="btn btn-primary">Stock</a>
    </div>
</div>
<div ng-controller="presentationController" class="working_div container">
    <div><p>CLASSIC LEATHERS TOTAL SALES REPORT</p></div>
    <div>
        <p>
            All <input type="checkbox" class="custom-control-input" ng-model="showAll"
                           ng-change="updateParameters()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Driving <input type="checkbox" class="custom-control-input" ng-model="showDrivingData"
                           ng-change="updateGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Kora <input type="checkbox" class="custom-control-input" ng-model="showKoraData" ng-change="updateGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Waves <input type="checkbox" class="custom-control-input" ng-model="showWavesData"
                         ng-change="updateGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            A-Series <input type="checkbox" class="custom-control-input" ng-model="showASeriesData"
                            ng-change="updateGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Mirat <input type="checkbox" class="custom-control-input" ng-model="showMiratData"
                         ng-change="updateGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Hand Bags <input type="checkbox" class="custom-control-input" ng-model="showHandBagsData"
                             ng-change="updateGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Belts & Wallets <input type="checkbox" class="custom-control-input" ng-model="showBeltAndWalletData"
                             ng-change="updateGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            NA <input type="checkbox" class="custom-control-input" ng-model="showNAData"
                             ng-change="updateGraph()">
        </p>
    </div>
    <div id="curve_chart" style="width: 100%; height: 350px"></div>
</div>
</body>
</html>
