<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="./css/body.css">
    <script type="text/javascript">
     var app = angular.module("classicLeathers", []);

     app.controller("presentationController", function($scope,$http) {
<!----------------------------------------- DAILY SALES GRAPH START------------------------------------------------------- -->
          $scope.monthNumber = (new Date()).getMonth()+1;
          $scope.loadDailySalesData = function(){
          $http({method: 'GET', url: 'http://localhost:8080/presentation/dailySales?monthNumber='+$scope.monthNumber})
            .then(function successCallback(response) {
					$scope.dailySalesDtoList=response.data;
					google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback($scope.drawDailySalesChart);
                },function errorCallback(response) {
					console.log(error.value);
                }
            );
          }
          $scope.loadDailySalesData();

         $scope.updateDailySales = function() {
             if($scope.monthNumber <= (new Date()).getMonth()+1){
                $scope.loadDailySalesData();
            }else{
                window.alert("Invalid Month Number");
            }
         }
         $scope.drawDailySalesChart = function() {
          const resArray = [];
            var totalSales = 0;
            $scope.dailySalesGraphMaxValue = 0;
            for(var i = 0, size =  $scope.dailySalesDtoList.length ; i < size ; i++){
                var dailySalesDto = $scope.dailySalesDtoList[i];
                totalSales = totalSales+dailySalesDto.sales;
                var avgSale = Math.round(totalSales/dailySalesDto.day);
                if($scope.dailySalesGraphMaxValue<dailySalesDto.sales){
                    $scope.dailySalesGraphMaxValue = dailySalesDto.sales+5000-(dailySalesDto.sales % 5000);
                }
                resArray.push([""+dailySalesDto.day,dailySalesDto.sales,"Day "+dailySalesDto.day+" || Total Sale : "+dailySalesDto.sales+" || Avg Sales: "+avgSale,avgSale,"Day - "+dailySalesDto.day+" || Total Sale : "+dailySalesDto.sales+" || Avg Sales: "+avgSale]);
            }

            for(var i = resArray.length ; i < 31 ; i++){
                resArray.push([""+(i+1),0,"Day "+dailySalesDto.day+" || Total Sale : "+0+" || Avg Sales: "+avgSale,avgSale,"Day - "+0+" || Total Sale : "+0+" || Avg Sales: "+avgSale]);
            }

            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'DAY');
            dataTable.addColumn('number', 'Sales');
            dataTable.addColumn({type: 'string', role: 'tooltip'});
            dataTable.addColumn('number', 'Average Sales');
            dataTable.addColumn({type: 'string', role: 'tooltip'});
            dataTable.addRows(resArray);
<!--            data = google.visualization.arrayToDataTable(resArray);-->
            var options = {
              tooltip: {isHtml: true},
              hAxis: {
                title: 'DAY'
              },
              vAxis: {
                title: 'SALES',
                viewWindow: {
                  min: 0,
                  max: $scope.dailySalesGraphMaxValue
                }
              },
              seriesType: 'bars',
              series: {0: {type: 'bar'},
              1: {type: 'line'}}
            };
            var chart = new google.visualization.ComboChart(document.getElementById('daily_sales_chart'));
            chart.draw(dataTable, options);
          }
<!----------------------------------------- DAILY SALES GRAPH END--------------------------------------------------------- -->

<!----------------------------------------- TOTAL SALES GRAPH START------------------------------------------------------- -->
          $scope.showAll=true;
          $scope.showDrivingData = true;
          $scope.showMiratData = true;
          $scope.showFormalData = true;
          $scope.showCasualData = true;
          $scope.showSlippersData = true;
          $scope.showHandBagsData = true;
          $scope.showBeltAndWalletData = true;
          $scope.showOtherData = true;
          $scope.showNAData = true;

          $scope.loadTotalSalesData = function(){
          $http({method: 'GET', url: 'http://localhost:8080/presentation/totalSales?showDriving='+$scope.showDrivingData+
          '&showMirat='+$scope.showMiratData+
          '&showFormal='+$scope.showFormalData+
          '&showCasual='+$scope.showCasualData+
          '&showSlippers='+$scope.showSlippersData+
          '&showHandBag='+$scope.showHandBagsData+
          '&showBeltAndWallet='+$scope.showBeltAndWalletData+
          '&showOther='+$scope.showOtherData+
          '&showNA='+$scope.showNAData
          })
            .then(function successCallback(response) {
					$scope.totalSalesDtoList=response.data;
					google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback($scope.drawTotalSalesChart);
                },function errorCallback(response) {
					console.log(error.value);
                }
            );
          }
          $scope.loadTotalSalesData();
          $scope.updateTotalGraph = function(){
              $scope.loadTotalSalesData();
          }
           $scope.updateTotalParameters = function() {
                  $scope.showDrivingData = $scope.showAll;
                  $scope.showMiratData = $scope.showAll;
                  $scope.showFormalData = $scope.showAll;
                  $scope.showCasualData = $scope.showAll;
                  $scope.showSlippersData = $scope.showAll;
                  $scope.showHandBagsData = $scope.showAll;
                  $scope.showBeltAndWalletData = $scope.showAll;
                  $scope.showOtherData = $scope.showAll;
                  $scope.showNAData = $scope.showAll;
                  $scope.updateTotalGraph();
           }
          $scope.drawTotalSalesChart = function() {
          const resArray = [];
            resArray.push(['MONTH', 'Driving','Mirat','Other Formals','Other Casuals','CAT','Kora','Waves','A-Series','Juston','Crocs','Hand Bags','Belts & Wallets','OTTO','Ladies Slippers','Kids Slippers','Service','NA']);
            for(var i = 0, size =  $scope.totalSalesDtoList.length ; i < size ; i++){
                var totalSalesDto = $scope.totalSalesDtoList[i];

                var totalSale = totalSalesDto.drivingSales+totalSalesDto.miratSales+totalSalesDto.otherFormalsSales+
                totalSalesDto.otherCasualsSales+totalSalesDto.catSales+totalSalesDto.koraSales+totalSalesDto.wavesSales+
                totalSalesDto.aSeriesSales+totalSalesDto.justonSales+totalSalesDto.crocsSales+
                totalSalesDto.handBagSales+totalSalesDto.beltsAndWalletsSale+totalSalesDto.ottoSales+totalSalesDto.ladiesFootwearSales+
                totalSalesDto.kidsFootwearSales+totalSalesDto.serviceSales+totalSalesDto.naSalesSale;

                resArray.push([totalSalesDto.month.split("_")[1]+"_"+totalSale,totalSalesDto.drivingSales,totalSalesDto.miratSales,totalSalesDto.otherFormalsSales,
                totalSalesDto.otherCasualsSales,totalSalesDto.catSales,totalSalesDto.koraSales,totalSalesDto.wavesSales,totalSalesDto.aSeriesSales,totalSalesDto.justonSales,totalSalesDto.crocsSales,
                totalSalesDto.handBagSales,totalSalesDto.beltsAndWalletsSale,totalSalesDto.ottoSales,totalSalesDto.serviceSales,totalSalesDto.ladiesFootwearSales,
                totalSalesDto.kidsFootwearSales,totalSalesDto.naSalesSale]);
            }
            data = google.visualization.arrayToDataTable(resArray);
            var options = {
              hAxis: {
                title: 'MONTH'
              },
              vAxis: {
                title: 'TOTAL SALES',
                viewWindow: {
                  min: 0,
                  max: 100000
                }
              },
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('total_sales_chart'));
            chart.draw(data, options);
          }
<!----------------------------------------- TOTAL SALES GRAPH END--------------------------------------------------------- -->

<!----------------------------------------- SALES MEDIUM GRAPH START------------------------------------------------------- -->
          let salesEntryMap = new Map()
          $scope.i=0;
          $http({method: 'GET', url: 'http://localhost:8080/retailSalesReport?sheetNumber='+$scope.i})
                .then(function successCallback(response) {
                        salesEntryMap.set(new Date(response.data[2].saleDate).getMonth()+1,response.data);
                        $scope.i = $scope.i+1;
                        $scope.loadSales();
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
          );

            $scope.loadSales = function(){
                $http({method: 'GET', url: 'http://localhost:8080/retailSalesReport?sheetNumber='+$scope.i})
                .then(function successCallback(response) {
                        salesEntryMap.set(new Date(response.data[2].saleDate).getMonth()+1,response.data);
                        $scope.i = $scope.i+1;
                        if($scope.i < 9){ $scope.loadSales();}
                        else{
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback($scope.drawSalesMediumChart);
                        }
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
                );
            }

            $scope.drawSalesMediumChart = function(){
					const resArray = [];
					console.log(salesEntryMap);
					resArray.push(['MONTH','EXISTING','INSTAGRAM','REFERRAL','WALK IN']);
					for (let [key, value] of salesEntryMap){
                        var walkInSales=0;
                        var existingCustomerSales=0;
                        var referralSales=0;
                        var advertisementSales=0;
                        for(var i = 0, size = value.length; i < size ; i++){
                            var item = value[i];
                            if(item.stepInType == 'EXISTING CUSTOMER'){
                                existingCustomerSales += Number(item.salePrice);
                            }else if(item.stepInType == 'INSTAGRAM'){
                                advertisementSales += Number(item.salePrice);
                            }else if(item.stepInType == 'REFERRAL'){
                                referralSales += Number(item.salePrice);
                            }else if(item.stepInType == 'WALK IN'||item.stepInType == 'WALKIN'){
                                walkInSales += Number(item.salePrice);
                            }
                        }
                        resArray.push([key,existingCustomerSales,advertisementSales,referralSales,walkInSales]);
                    }
                    data = google.visualization.arrayToDataTable(resArray);
                    var options = {
                      hAxis: {
                        title: 'MONTH'
                      },
                      vAxis: {
                        title: 'SALES',
                        viewWindow: {
                          min: 0,
                          max: 210000
                        }
                      },
                      curveType: 'function',
                      legend: { position: 'bottom' }
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('sales_medium_date_chart'));
                    chart.draw(data, options);
            }
<!----------------------------------------- SALES MEDIUM GRAPH END--------------------------------------------------------- -->
<!----------------------------------------- PROFIT GRAPH START------------------------------------------------------- -->
           $scope.showAllProfit=true;
          $scope.showDrivingProfitData = true;
          $scope.showMiratProfitData = true;
          $scope.showFormalProfitData = true;
          $scope.showCasualProfitData = true;
          $scope.showSlippersProfitData = true;
          $scope.showHandBagsProfitData = true;
          $scope.showBeltAndWalletProfitData = true;
          $scope.showOtherProfitData = true;
          $scope.showNAProfitData = true;
          $scope.loadProfitData = function(){
              $http({method: 'GET', url: 'http://localhost:8080/presentation/profitGraph?showDriving='+$scope.showDrivingProfitData+
          '&showMirat='+$scope.showMiratProfitData+
          '&showFormal='+$scope.showFormalProfitData+
          '&showCasual='+$scope.showCasualProfitData+
          '&showSlippers='+$scope.showSlippersProfitData+
          '&showHandBag='+$scope.showHandBagsProfitData+
          '&showBeltAndWallet='+$scope.showBeltAndWalletProfitData+
          '&showOther='+$scope.showOtherProfitData+
          '&showNA='+$scope.showNAProfitData
              })
                .then(function successCallback(response) {
                        $scope.profitDtoList=response.data;
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback($scope.drawProfitChart);
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
                );
          }
          $scope.loadProfitData();
          $scope.updateProfitGraph = function(){
              $scope.loadProfitData();
          }
           $scope.updateProfitParameters = function() {
                  $scope.showDrivingProfitData = $scope.showAllProfit;
                  $scope.showMiratProfitData = $scope.showAllProfit;
                  $scope.showFormalProfitData = $scope.showAllProfit;
                  $scope.showCasualProfitData = $scope.showAllProfit;
                  $scope.showSlippersProfitData = $scope.showAllProfit;
                  $scope.showHandBagsProfitData = $scope.showAllProfit;
                  $scope.showBeltAndWalletProfitData = $scope.showAllProfit;
                  $scope.showOtherProfitData = $scope.showAllProfit;
                  $scope.showNAProfitData = $scope.showAllProfit;
                  $scope.updateProfitGraph();
           }
          $scope.drawProfitChart = function() {
          const resArray = [];
            resArray.push(['MONTH','Sales', 'Purchase','Shop Expence']);
            for(var i = 0, size =  $scope.profitDtoList.length ; i < size ; i++){
                var profitDto = $scope.profitDtoList[i];
                var totalSalePrice = (profitDto.drivingSalePrice+profitDto.miratSalePrice+profitDto.otherFormalSalePrice+profitDto.otherCasualsSalePrice+
                profitDto.catSalePrice+profitDto.koraSalePrice+profitDto.wavesSalePrice+profitDto.aSeriesSalePrice+profitDto.justonSalePrice+profitDto.crocsSalePrice
                +profitDto.handBagSalePrice+profitDto.beltsAndWalletsSalePrice+profitDto.ladiesFootwearSalePrice+profitDto.kidsFootwearSalePrice
                +profitDto.ottoSalePrice+profitDto.serviceSalePrice+profitDto.naSalesSalePrice);
                var totalPurchasePrice = (profitDto.drivingCostPrice+profitDto.miratCostPrice+profitDto.otherFormalCostPrice+profitDto.otherCasualsCostPrice+
                profitDto.catCostPrice+profitDto.koraCostPrice+profitDto.wavesCostPrice+profitDto.aSeriesCostPrice+profitDto.justonCostPrice+profitDto.crocsCostPrice
                +profitDto.handBagCostPrice+profitDto.beltsAndWalletsCostPrice+profitDto.ladiesFootwearCostPrice+profitDto.kidsFootwearCostPrice
                +profitDto.ottoCostPrice+profitDto.serviceCostPrice+profitDto.naSalesCostPrice);

                if($scope.showAllProfit){
                    var profitPercent = Math.round(((totalSalePrice-totalPurchasePrice-70000)/totalSalePrice)*100);
                    var profit =  totalSalePrice-totalPurchasePrice-70000;
                    resArray.push([profitDto.month.split("_")[1]+" : "+profit+" | "+profitPercent+"%",totalSalePrice,totalPurchasePrice,70000]);
                } else{
                    var profitPercent = Math.round(((totalSalePrice-totalPurchasePrice)/totalSalePrice)*100);
                    var profit =  totalSalePrice-totalPurchasePrice;
                    resArray.push([profitDto.month.split("_")[1]+" : "+profit+" | "+profitPercent+"%",totalSalePrice,totalPurchasePrice,0]);
                }
            }
            data = google.visualization.arrayToDataTable(resArray);
            var options = {
              title: 'CLASSIC LEATHERS PERFORMANCE',
              hAxis: {title: 'MONTH',  titleTextStyle: {color: '#333'}},
              vAxis: {
                title: 'PURCHASE/SALE COST',
                viewWindow: {
                  min: 0,
                  max: 300000
                }
              }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('profit_chart'));
            chart.draw(data, options);
          }
<!----------------------------------------- PROFIT GRAPH END--------------------------------------------------------- -->
<!----------------------------------------- HOUR SALE GRAPH START--------------------------------------------------------- -->
        $scope.showAllHourly = true;
        $scope.showHour8Data = true;
        $scope.showHour9Data = true;
        $scope.showHour10Data = true;
        $scope.showHour11Data = true;
        $scope.showHour12Data = true;
        $scope.showHour13Data = true;
        $scope.showHour14Data = true;
        $scope.showHour15Data = true;
        $scope.showHour16Data = true;
        $scope.showHour17Data = true;
        $scope.showHour18Data = true;
        $scope.showHour19Data = true;
        $scope.showHour20Data = true;
        $scope.showHour21Data = true;
        $scope.showHour22Data = true;
        $scope.showHour00Data = true;
        $scope.loadHourlySalesData = function(){
            $http({method: 'GET', url: 'http://localhost:8080/presentation/hourlySales?showHour8Data='+$scope.showHour8Data
            +'&showHour9Data='+$scope.showHour9Data
            +'&showHour10Data='+$scope.showHour10Data
            +'&showHour11Data='+$scope.showHour11Data
            +'&showHour12Data='+$scope.showHour12Data
            +'&showHour13Data='+$scope.showHour13Data
            +'&showHour14Data='+$scope.showHour14Data
            +'&showHour15Data='+$scope.showHour15Data
            +'&showHour16Data='+$scope.showHour16Data
            +'&showHour17Data='+$scope.showHour17Data
            +'&showHour18Data='+$scope.showHour18Data
            +'&showHour19Data='+$scope.showHour19Data
            +'&showHour20Data='+$scope.showHour20Data
            +'&showHour21Data='+$scope.showHour21Data
            +'&showHour22Data='+$scope.showHour22Data
            +'&showHour00Data='+$scope.showHour00Data
            })
            .then(function successCallback(response) {
					$scope.totalHourlySalesDtoList = response.data;
					google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback($scope.drawHourlySalesChart);
                },function errorCallback(response) {
					console.log(error.value);
                }
            );
          }
          $scope.loadHourlySalesData();
          $scope.updateHourlyTotalGraph = function(){
              $scope.loadHourlySalesData();
          }
           $scope.updateTotalHourlyParameters = function() {
                    $scope.showHour8Data = $scope.showAllHourly;
                    $scope.showHour9Data = $scope.showAllHourly;
                    $scope.showHour10Data = $scope.showAllHourly;
                    $scope.showHour11Data = $scope.showAllHourly;
                    $scope.showHour12Data = $scope.showAllHourly;
                    $scope.showHour13Data = $scope.showAllHourly;
                    $scope.showHour14Data = $scope.showAllHourly;
                    $scope.showHour15Data = $scope.showAllHourly;
                    $scope.showHour16Data = $scope.showAllHourly;
                    $scope.showHour17Data = $scope.showAllHourly;
                    $scope.showHour18Data = $scope.showAllHourly;
                    $scope.showHour19Data = $scope.showAllHourly;
                    $scope.showHour20Data = $scope.showAllHourly;
                    $scope.showHour21Data = $scope.showAllHourly;
                    $scope.showHour22Data = $scope.showAllHourly;
                    $scope.showHour00Data = $scope.showAllHourly;
                    $scope.updateHourlyTotalGraph();
           }
        $scope.drawHourlySalesChart = function() {
          const resArray = [];
            resArray.push(['MONTH', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '00' ]);
            for(var i = 0, size =  $scope.totalHourlySalesDtoList.length ; i < size ; i++){
                var hourlySales = $scope.totalHourlySalesDtoList[i];
                var totalSale = hourlySales.hour_8_Sales+hourlySales.hour_9_Sales+
                hourlySales.hour_10_Sales+hourlySales.hour_11_Sales+hourlySales.hour_12_Sales+hourlySales.hour_13_Sales+hourlySales.hour_14_Sales+
                hourlySales.hour_15_Sales+hourlySales.hour_16_Sales+hourlySales.hour_17_Sales+hourlySales.hour_18_Sales+hourlySales.hour_19_Sales+
                hourlySales.hour_20_Sales+hourlySales.hour_21_Sales+hourlySales.hour_22_Sales+hourlySales.hour_0_Sales;

                resArray.push([hourlySales.month.split("_")[1]+"_"+totalSale,hourlySales.hour_8_Sales,hourlySales.hour_9_Sales
                ,hourlySales.hour_10_Sales,hourlySales.hour_11_Sales,hourlySales.hour_12_Sales,hourlySales.hour_13_Sales,hourlySales.hour_14_Sales,
                hourlySales.hour_15_Sales,hourlySales.hour_16_Sales,hourlySales.hour_17_Sales,hourlySales.hour_18_Sales,hourlySales.hour_19_Sales,
                hourlySales.hour_20_Sales,hourlySales.hour_21_Sales,hourlySales.hour_22_Sales,hourlySales.hour_0_Sales ]);
            }
            data = google.visualization.arrayToDataTable(resArray);
            var options = {
              hAxis: {
                title: 'MONTH'
              },
              vAxis: {
                title: 'TOTAL SALES',
                viewWindow: {
                  min: 0,
                  max: 80000
                }
              },
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('total_hourly_sales_chart'));
            chart.draw(data, options);
          }
<!----------------------------------------- HOUR SALE GRAPH END--------------------------------------------------------- -->
<!----------------------------------------- STEP IN GRAPH START--------------------------------------------------------- -->
        $scope.showAllHourlyStepIn = true;
        $scope.showHour8Data1 = true;
        $scope.showHour9Data1 = true;
        $scope.showHour10Data1 = true;
        $scope.showHour11Data1 = true;
        $scope.showHour12Data1 = true;
        $scope.showHour13Data1 = true;
        $scope.showHour14Data1 = true;
        $scope.showHour15Data1 = true;
        $scope.showHour16Data1 = true;
        $scope.showHour17Data1 = true;
        $scope.showHour18Data1 = true;
        $scope.showHour19Data1 = true;
        $scope.showHour20Data1 = true;
        $scope.showHour21Data1 = true;
        $scope.showHour22Data1 = true;
        $scope.showHour00Data1 = true;
        $scope.loadHourlyStepInData = function(){
            $http({method: 'GET', url: 'http://localhost:8080/presentation/stepIn?showHour8Data='+$scope.showHour8Data1
            +'&showHour9Data='+$scope.showHour9Data1
            +'&showHour10Data='+$scope.showHour10Data1
            +'&showHour11Data='+$scope.showHour11Data1
            +'&showHour12Data='+$scope.showHour12Data1
            +'&showHour13Data='+$scope.showHour13Data1
            +'&showHour14Data='+$scope.showHour14Data1
            +'&showHour15Data='+$scope.showHour15Data1
            +'&showHour16Data='+$scope.showHour16Data1
            +'&showHour17Data='+$scope.showHour17Data1
            +'&showHour18Data='+$scope.showHour18Data1
            +'&showHour19Data='+$scope.showHour19Data1
            +'&showHour20Data='+$scope.showHour20Data1
            +'&showHour21Data='+$scope.showHour21Data1
            +'&showHour22Data='+$scope.showHour22Data1
            +'&showHour00Data='+$scope.showHour00Data1
            })
            .then(function successCallback(response) {
					$scope.totalHourlyStepInDtoList =response.data;
					google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback($scope.drawHourlyStepInChart);
                },function errorCallback(response) {
					console.log(error.value);
                }
            );
          }
          $scope.loadHourlyStepInData();
          $scope.updateHourlyStepInGraph = function(){
              $scope.loadHourlyStepInData();
          }
           $scope.updateTotalHourlyStepInParameters = function() {
                    $scope.showHour8Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour9Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour10Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour11Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour12Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour13Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour14Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour15Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour16Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour17Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour18Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour19Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour20Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour21Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour22Data1 = $scope.showAllHourlyStepIn;
                    $scope.showHour00Data1 = $scope.showAllHourlyStepIn;
                    $scope.updateHourlyStepInGraph();
           }
        $scope.drawHourlyStepInChart = function() {
          const resArray = [];
            resArray.push(['MONTH', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '00' ]);
            for(var i = 0, size =  $scope.totalHourlyStepInDtoList.length ; i < size ; i++){
                var obj = $scope.totalHourlyStepInDtoList[i];
                var totalCount = obj.hour_8_count+obj.hour_9_count+
                obj.hour_10_count+obj.hour_11_count+obj.hour_12_count+obj.hour_13_count+obj.hour_14_count+
                obj.hour_15_count+obj.hour_16_count+obj.hour_17_count+obj.hour_18_count+obj.hour_19_count+
                obj.hour_20_count+obj.hour_21_count+obj.hour_22_count+obj.hour_0_count;

                resArray.push([obj.month.split("_")[1]+"_"+totalCount,obj.hour_8_count,obj.hour_9_count,
                obj.hour_10_count,obj.hour_11_count,obj.hour_12_count,obj.hour_13_count,obj.hour_14_count,
                obj.hour_15_count,obj.hour_16_count,obj.hour_17_count,obj.hour_18_count,obj.hour_19_count,
                obj.hour_20_count,obj.hour_21_count,obj.hour_22_count,obj.hour_0_count]);
            }
            data = google.visualization.arrayToDataTable(resArray);
            var options = {
              hAxis: {
                title: 'MONTH'
              },
              vAxis: {
                title: 'STEP IN COUNT',
                viewWindow: {
                  min: 0,
                  max: 60
                }
              },
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('total_hourly_step_in_chart'));
            chart.draw(data, options);
          }
<!----------------------------------------- STEP IN GRAPH END--------------------------------------------------------- -->
     });







    </script>

</head>
<body class="classicThemeColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersSalesEntry.html" class="btn btn-primary">New Sale</a>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathersMonthlySales.html" class="btn btn-primary">Sales</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
        <a href=".\StockReport.html" class="btn btn-primary">Stock</a>
    </div>
</div>
<div ng-controller="presentationController" class="working_div container">
    <div><p>CLASSIC LEATHERS DAILY SALES REPORT</p></div>
    <p>Month Number : <input type="text" ng-model="monthNumber" class="number_input_width">
        <input type="button" ng-click="updateDailySales()" value="Get Daily Sales"
               class="btn btn-primary">
    </p>
    <div id="daily_sales_chart" style="width: 100%; height: 350px"></div>
    <br><br><br><br>
    <div><p>CLASSIC LEATHERS TOTAL SALES REPORT</p></div>
    <div>
        <p>
            All <input type="checkbox" class="custom-control-input" ng-model="showAll"
                       ng-change="updateTotalParameters()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Driving <input type="checkbox" class="custom-control-input" ng-model="showDrivingData"
                           ng-change="updateTotalGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Mirat <input type="checkbox" class="custom-control-input" ng-model="showMiratData"
                         ng-change="updateTotalGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Formal <input type="checkbox" class="custom-control-input" ng-model="showFormalData"
                          ng-change="updateTotalGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Casual <input type="checkbox" class="custom-control-input" ng-model="showCasualData"
                          ng-change="updateTotalGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Slippers <input type="checkbox" class="custom-control-input" ng-model="showSlippersData"
                            ng-change="updateTotalGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Hand Bags <input type="checkbox" class="custom-control-input" ng-model="showHandBagsData"
                             ng-change="updateTotalGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Belts & Wallets <input type="checkbox" class="custom-control-input" ng-model="showBeltAndWalletData"
                                   ng-change="updateTotalGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Others <input type="checkbox" class="custom-control-input" ng-model="showOtherData"
                          ng-change="updateTotalGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            NA <input type="checkbox" class="custom-control-input" ng-model="showNAData"
                      ng-change="updateTotalGraph()">
        </p>
    </div>
    <div id="total_sales_chart" style="width: 100%; height: 350px"></div>
    <div><p>CLASSIC LEATHERS SALES REPORT BY STEP IN TYPE</p></div>
    <div id="sales_medium_date_chart" style="width: 100%; height: 350px"></div>
    <br><br><br>
    <div><p>CLASSIC LEATHERS PURCHASE VS SALES REPORT</p></div>
    <div>
        <p>
            All <input type="checkbox" class="custom-control-input" ng-model="showAllProfit"
                       ng-change="updateProfitParameters()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Driving <input type="checkbox" class="custom-control-input" ng-model="showDrivingProfitData"
                           ng-change="updateProfitGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Mirat <input type="checkbox" class="custom-control-input" ng-model="showMiratProfitData"
                         ng-change="updateProfitGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Formal <input type="checkbox" class="custom-control-input" ng-model="showFormalProfitData"
                          ng-change="updateProfitGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Casual <input type="checkbox" class="custom-control-input" ng-model="showCasualProfitData"
                          ng-change="updateProfitGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Slippers <input type="checkbox" class="custom-control-input" ng-model="showSlippersProfitData"
                            ng-change="updateProfitGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Hand Bags <input type="checkbox" class="custom-control-input" ng-model="showHandBagsProfitData"
                             ng-change="updateProfitGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Belts & Wallets <input type="checkbox" class="custom-control-input" ng-model="showBeltAndWalletProfitData"
                                   ng-change="updateProfitGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            Others <input type="checkbox" class="custom-control-input" ng-model="showOtherProfitData"
                          ng-change="updateProfitGraph()">&nbsp&nbsp&nbsp -- &nbsp&nbsp&nbsp
            NA <input type="checkbox" class="custom-control-input" ng-model="showNAProfitData"
                      ng-change="updateProfitGraph()">
        </p>
    </div>
    <div id="profit_chart" style="width: 100%; height: 350px"></div>

    <br><br><br>
    <div><p>CLASSIC LEATHERS HOURLY SALES REPORT</p></div>
    <div>
        <p>
            All <input type="checkbox" class="custom-control-input" ng-model="showAllHourly"
                       ng-change="updateTotalHourlyParameters()">&nbsp&nbsp - &nbsp&nbsp
            08 <input type="checkbox" class="custom-control-input" ng-model="showHour8Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            09 <input type="checkbox" class="custom-control-input" ng-model="showHour9Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            10 <input type="checkbox" class="custom-control-input" ng-model="showHour10Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            11 <input type="checkbox" class="custom-control-input" ng-model="showHour11Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            12 <input type="checkbox" class="custom-control-input" ng-model="showHour12Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            13 <input type="checkbox" class="custom-control-input" ng-model="showHour13Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            14 <input type="checkbox" class="custom-control-input" ng-model="showHour14Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            15 <input type="checkbox" class="custom-control-input" ng-model="showHour15Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            16 <input type="checkbox" class="custom-control-input" ng-model="showHour16Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            17 <input type="checkbox" class="custom-control-input" ng-model="showHour17Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            18 <input type="checkbox" class="custom-control-input" ng-model="showHour18Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            19 <input type="checkbox" class="custom-control-input" ng-model="showHour19Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            20 <input type="checkbox" class="custom-control-input" ng-model="showHour20Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            21 <input type="checkbox" class="custom-control-input" ng-model="showHour21Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            22 <input type="checkbox" class="custom-control-input" ng-model="showHour22Data"
                      ng-change="updateHourlyTotalGraph()">&nbsp&nbsp - &nbsp&nbsp
            00 <input type="checkbox" class="custom-control-input" ng-model="showHour00Data"
                      ng-change="updateHourlyTotalGraph()">
        </p>
    </div>
    <div id="total_hourly_sales_chart" style="width: 100%; height: 350px"></div>


    <br><br><br>
    <div><p>CLASSIC LEATHERS HOURLY STEP IN REPORT</p></div>
    <div>
        <p>
            All <input type="checkbox" class="custom-control-input" ng-model="showAllHourlyStepIn"
                       ng-change="updateTotalHourlyStepInParameters()">&nbsp&nbsp - &nbsp&nbsp
            08 <input type="checkbox" class="custom-control-input" ng-model="showHour8Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            09 <input type="checkbox" class="custom-control-input" ng-model="showHour9Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            10 <input type="checkbox" class="custom-control-input" ng-model="showHour10Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            11 <input type="checkbox" class="custom-control-input" ng-model="showHour11Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            12 <input type="checkbox" class="custom-control-input" ng-model="showHour12Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            13 <input type="checkbox" class="custom-control-input" ng-model="showHour13Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            14 <input type="checkbox" class="custom-control-input" ng-model="showHour14Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            15 <input type="checkbox" class="custom-control-input" ng-model="showHour15Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            16 <input type="checkbox" class="custom-control-input" ng-model="showHour16Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            17 <input type="checkbox" class="custom-control-input" ng-model="showHour17Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            18 <input type="checkbox" class="custom-control-input" ng-model="showHour18Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            19 <input type="checkbox" class="custom-control-input" ng-model="showHour19Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            20 <input type="checkbox" class="custom-control-input" ng-model="showHour20Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            21 <input type="checkbox" class="custom-control-input" ng-model="showHour21Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            22 <input type="checkbox" class="custom-control-input" ng-model="showHour22Data1"
                      ng-change="updateHourlyStepInGraph()">&nbsp&nbsp - &nbsp&nbsp
            00 <input type="checkbox" class="custom-control-input" ng-model="showHour00Data1"
                      ng-change="updateHourlyStepInGraph()">
        </p>
    </div>
    <div id="total_hourly_step_in_chart" style="width: 100%; height: 350px"></div>
</div>
</body>
</html>
