<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/body.css">

    <script>
      var app = angular.module("classicLeathers", []);
      app.controller("retailController", function($scope,$http) {
<!----------------------------------------SALES----------------------------------------------------------------------------->
            $scope.isPopUpVisible=false;
            $scope.showSalesEntry = function(salesEntry){
                $scope.isPopUpVisible=true;
                $scope.popUpEntry=salesEntry;
            };

            $scope.hidePopUp = function(){
                $scope.isPopUpVisible=false;
            };

            var sheetNumber = (new Date()).getMonth();
            var monthNumber = decodeURIComponent((new RegExp('[?|&]' + 'month' + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
            if(monthNumber!=null){
                sheetNumber=monthNumber;
            }
            $http({method: 'GET', url: 'http://localhost:8080/retailSalesReport?sheetNumber='+sheetNumber})
            .then(function successCallback(response) {
					$scope.salesEntryList=response.data;
					var total=0;
					var todayTotal=0;
					var cashTotal=0;
					for(var i = 0, size = response.data.length; i < size ; i++){
                        var item = response.data[i];
                        total +=  Number(item.salePrice);
                        cashTotal +=  Number(item.cashPayment);
                        if(item.isTodaySale=='true'){
                            todayTotal += Number(item.salePrice);
                        }
                    }
                    $scope.totalBusiness=total;
                    $scope.totalCashBusiness=cashTotal;
                    $scope.monthlyAverage=(total/new Date().getDate()).toFixed(2);
                    if(monthNumber!=null){
                        $scope.monthlyAverage=(total/new Date(2023, monthNumber, 0).getDate()).toFixed(2);
                    }
                    $scope.todayTotal=todayTotal;
                    $scope.calculateTotalAvailableCash();
                },function errorCallback(response) {
					console.log(error.value);
                }
            );
<!----------------------------------------SALES----------------------------------------------------------------------------->
      $scope.openPdf = function(invNo){
        window.open("http://127.0.0.1:4500/Invoices/"+invNo+".pdf","_blank");
      }

      $scope.calculateTotalAvailableCash = function(){
            $http({method: 'GET', url: 'http://localhost:8080/expense/totalCashExpense'})
                .then(function successCallback(response) {
                        $scope.totalAvailableCash=$scope.totalCashBusiness+1000 - response.data;
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
           );
      }


      });










    </script>
</head>
<body class="classicThemeColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersHome.html" class="btn btn-primary">Home</a>
        <a href=".\ClassicLeathersSalesEntry.html" class="btn btn-primary">New Sale</a>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
        <a href=".\StockReport.html" class="btn btn-primary">Stock</a>
    </div>
</div>
<div ng-controller="retailController" class="working_div container">
    <p> Show Average Data <input type="checkbox" class="custom-control-input" ng-model="showAverageData"> <label
            ng-show="showAverageData"> Business
        Total / Cash / Online: {{totalBusiness}} / {{totalCashBusiness}} /
        {{totalBusiness-totalCashBusiness}} &nbsp&nbsp&nbsp&nbsp&nbsp Available Cash : {{totalAvailableCash}}
        &nbsp&nbsp&nbsp&nbsp
        Current Month Average: &nbsp{{monthlyAverage}}
        &nbsp&nbsp&nbsp&nbsp&nbsp Today's Sale: &nbsp{{todayTotal}}</label></p>
    <div class="popUp_div" ng-show="isPopUpVisible">
        <table class="table popUp_font">
            <tr style="text-align:center;font-size:20px;background-color: #ecf6ff;">
                <td colspan="2">Sale Details
                    <input style="float:right;" type="button" ng-click="hidePopUp()" value="close"
                           class="text_input_width btn btn-primary"></td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td>{{popUpEntry.customerName}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{popUpEntry.gender}}</td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>{{popUpEntry.mobileNumber}}</td>
            </tr>
            <tr>
                <td>Step In Type</td>
                <td>{{popUpEntry.stepInType}}</td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>{{popUpEntry.brand}}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{popUpEntry.category}}</td>
            </tr>
            <tr>
                <td>Leather</td>
                <td>{{popUpEntry.leather}}</td>
            </tr>
            <tr>
                <td>Product Details</td>
                <td>{{popUpEntry.productDetails}}</td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>{{popUpEntry.quantity}}</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>{{popUpEntry.size}}</td>
            </tr>
            <tr>
                <td>MRP</td>
                <td>{{popUpEntry.mrp}}</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>{{popUpEntry.discount}}</td>
            </tr>
            <tr>
                <td>Sale Price</td>
                <td>{{popUpEntry.salePrice}}</td>
            </tr>
            <tr>
                <td>MOP</td>
                <td>{{popUpEntry.modeOfPayment}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{popUpEntry.saleDate}}</td>
            </tr>
        </table>


    </div>
    <table class="table table-font">
        <tr>
            <th colspan="16">Search In Sales Data &nbsp&nbsp<Input type="text" ng-model="salesEntryFilter"></th>
        </tr>
        <tr>
            <th>Customer_Name</th>
            <th>Gender</th>
            <th>Mobile_Number</th>
            <th><p>Step In Type</p></th>
            <th><p>Brand</p></th>
            <th><p>Category</p></th>
            <th><p>Leather</p></th>
            <th><label>Product Details</label></th>
            <th>Quantity</th>
            <th>Size</th>
            <th>MRP</th>
            <th>Discount</th>
            <th>Sale_Price</th>
            <th>MOP</th>
            <th>Cash</th>
            <th>GPay</th>
            <th>Swipe</th>
            <th>Updated_By</th>
            <th><p>Invoice Number</p></th>
            <th><p>Date</p></th>
        </tr>
        <tr ng-repeat="salesEntry in salesEntryList | filter : salesEntryFilter "
            ng-style="{'background-color': (salesEntry.isTodaySale=='true') ? '#ffffff':null,
            'font-weight': (salesEntry.isTodaySale=='true') ?700:null}">
            <td ng-click="showSalesEntry(salesEntry)">{{salesEntry.customerName | uppercase}}</td>
            <td>{{salesEntry.gender}}</td>
            <td>{{salesEntry.mobileNumber}}</td>
            <td>{{salesEntry.stepInType | uppercase}}</td>
            <td>{{salesEntry.brand | uppercase}}</td>
            <td>{{salesEntry.category | uppercase}}</td>
            <td>{{salesEntry.leather | uppercase}}</td>
            <td>{{salesEntry.productDetails | uppercase}}</td>
            <td>{{salesEntry.quantity}}</td>
            <td>{{salesEntry.size}}</td>
            <td>{{salesEntry.mrp}}</td>
            <td>{{salesEntry.discount}}</td>
            <td>{{salesEntry.salePrice}}</td>
            <td>{{salesEntry.modeOfPayment}}</td>
            <td>{{salesEntry.cashPayment}}</td>
            <td>{{salesEntry.gPayPayment}}</td>
            <td>{{salesEntry.swipePayment}}</td>
            <td>{{salesEntry.updatedBy}}</td>
            <td><a class="btn" ng-click="openPdf(salesEntry.invoiceNumber)">Print Bill</a></td>
            <td>{{salesEntry.saleDate}}</td>
        </tr>

    </table>
</div>
</body>
</html>
