<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="./css/body.css">
    <script type="text/javascript">
     var app = angular.module("classicLeathers", []);

     app.controller("presentationController", function($scope,$http) {
<!----------------------------------------- DAILY SALES GRAPH START------------------------------------------------------- -->
          $scope.monthNumber = (new Date()).getMonth()+1;
          $scope.year = 2024;
          $scope.years = [2023,2024];
          $scope.loadDailySalesData = function(){
          if($scope.year==2024 && $scope.monthNumber > (new Date()).getMonth()+1 ){
            window.alert("Invalid Month Selection");
          }else{
              $http({method: 'GET', url: 'http://localhost:8080/presentation/dailySales?monthNumber='+$scope.monthNumber+'&year='+$scope.year})
                .then(function successCallback(response) {
                        $scope.dailySalesDtoList=response.data;
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback($scope.drawDailySalesChart);
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
                );
            }
          }
          $scope.loadDailySalesData();

         $scope.drawDailySalesChart = function() {
          const resArray = [];
            var totalSales = 0;
            $scope.dailySalesGraphMaxValue = 0;
            for(var i = 0, size =  $scope.dailySalesDtoList.length ; i < size ; i++){
                var dailySalesDto = $scope.dailySalesDtoList[i];
                totalSales = totalSales+dailySalesDto.sales;
                var avgSale = Math.round(totalSales/dailySalesDto.day);
                if($scope.dailySalesGraphMaxValue<dailySalesDto.sales){
                    $scope.dailySalesGraphMaxValue = dailySalesDto.sales+5000-(dailySalesDto.sales % 5000);
                }
                resArray.push([""+dailySalesDto.day,dailySalesDto.sales,
                "Day "+dailySalesDto.day+" Total Sale : "+dailySalesDto.sales+" || Avg Sales: "+avgSale+" \n Month Sales: "+totalSales+" || Projected Average: "+Math.round((350000-totalSales+dailySalesDto.sales)/(30-dailySalesDto.day)),
                Math.round((350000-totalSales+dailySalesDto.sales)/(30-dailySalesDto.day)),"Day "+dailySalesDto.day+" Total Sale : "+dailySalesDto.sales+" || Avg Sales: "+avgSale+" \n Month Sales: "+totalSales+" || Projected Average: "+Math.round((350000-totalSales+dailySalesDto.sales)/(30-dailySalesDto.day)),
                avgSale,"Day "+dailySalesDto.day+" Total Sale : "+dailySalesDto.sales+" || Avg Sales: "+avgSale+" \n Month Sales: "+totalSales+" || Projected Average: "+Math.round((350000-totalSales+dailySalesDto.sales)/(30-dailySalesDto.day))]);
            }

            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'DAY');
            dataTable.addColumn('number', 'Sales');
            dataTable.addColumn({type: 'string', role: 'tooltip'});
            dataTable.addColumn('number', 'Projected Average');
            dataTable.addColumn({type: 'string', role: 'tooltip'});
            dataTable.addColumn('number', 'Average Sales');
            dataTable.addColumn({type: 'string', role: 'tooltip'});
            dataTable.addRows(resArray);
            var options = {
              tooltip: {isHtml: true},
              hAxis: {
                title: 'DAY'
              },
              vAxis: {
                title: 'SALES',
                viewWindow: {
                  min: 0,
                  max: $scope.dailySalesGraphMaxValue
                }
              },
              seriesType: 'bars',
              series: {0: {type: 'bar'},
              1: {type: 'line'},
              2: {type: 'line'}}
            };
            var chart = new google.visualization.ComboChart(document.getElementById('daily_sales_chart'));
            chart.draw(dataTable, options);
          }
<!----------------------------------------- DAILY SALES GRAPH END--------------------------------------------------------- -->

<!----------------------------------------- TOTAL SALES GRAPH START------------------------------------------------------- -->

      $http({method: 'GET', url: 'http://localhost:8080/stock/availabilityMap'})
            .then(function successCallback(response) {
                    $scope.availabilityMap =response.data;
                    $scope.brandList=$scope.availabilityMap["brand"];
                    $scope.brandList.splice(0, 0, "All");
                    $scope.brand=$scope.brandList[0];
                    $scope.updateTotalGraph();
                },function errorCallback(response) {
                    console.log(error.value);
            }
      );

       $scope.updateLevel_0_CategoryList = function(){
            $scope.level_0_category = $scope.availabilityMap[$scope.brand];
            $scope.level_0_category.splice(0, 0, "All");
            $scope.selected_level_0_category=$scope.level_0_category[0];
            $scope.level_1_category=[];
            $scope.updateTotalGraph();
       }
       $scope.updateLevel_1_CategoryList = function(){
            if($scope.selected_level_0_category!=null && $scope.selected_level_0_category!=""){
                $scope.level_1_category = $scope.availabilityMap[$scope.brand+"_"+$scope.selected_level_0_category];
                $scope.level_1_category.splice(0, 0, "All");
                $scope.selected_level_1_category=$scope.level_1_category[0];
                $scope.updateTotalGraph();
            }
       }


          $scope.loadTotalSalesData = function(){
          $http({method: 'GET', url: 'http://localhost:8080/presentation/presentationDta?filterString='+$scope.brand+"_"+$scope.selected_level_0_category+"_"+$scope.selected_level_1_category})
            .then(function successCallback(presentationDta) {
					$scope.totalSales=presentationDta.data;
					google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback($scope.drawTotalSalesChart);
                },function errorCallback(response) {
					console.log(error.value);
                }
            );
          }
          $scope.updateTotalGraph = function(){
              $scope.loadTotalSalesData();
          }

          $scope.drawTotalSalesChart = function() {
          const resArray = [];
          for(var i = 0, size =  $scope.totalSales.length ; i < size ; i++){
                var str = $scope.totalSales[i];
                if(i==0){
                    resArray.push(str.split(","));
                } else{
                    resArray.push(str.split(",").map(Number));
                }
            }
            data = google.visualization.arrayToDataTable(resArray);
            var options = {
              hAxis: {
                title: 'MONTH',
                format: '0'
              },
              vAxis: {
                title: 'TOTAL SALES',
                viewWindow: {
                  min: 0,
                  max: 125000
                }
              },
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('total_sales_chart'));
            chart.draw(data, options);
          }
<!----------------------------------------- TOTAL SALES GRAPH END--------------------------------------------------------- -->
     });










    </script>

</head>
<body class="classicThemeColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersSalesEntry.html" class="btn btn-primary">New Sale</a>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathersMonthlySales.html" class="btn btn-primary">Sales</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
        <a href=".\retail\stock.html" class="btn btn-primary">Stock</a>
    </div>
</div>
<div ng-controller="presentationController" class="working_div container">
    <div><p>CLASSIC LEATHERS DAILY SALES REPORT</p></div>
    <p>Year : <select class="btn btn-primary" ng-model="year"
                      ng-options="x for x in years"></select></span> Month Number : <input type="text"
                                                                                           ng-model="monthNumber"
                                                                                           class="number_input_width">
        <input type="button" ng-click="loadDailySalesData()" value="Get Daily Sales"
               class="btn btn-primary">
    </p>
    <div id="daily_sales_chart" style="width: 100%; height: 350px"></div>
    <br><br><br><br>
    <div><p>CLASSIC LEATHERS TOTAL SALES REPORT</p>
        <p>
            Brand || <select ng-model="brand" ng-change="updateLevel_0_CategoryList()">
            <option ng-repeat="x in brandList">{{x}}</option>
        </select>
            Category || <select ng-model="selected_level_0_category" ng-change="updateLevel_1_CategoryList()">
                <option ng-repeat="x in level_0_category">{{x}}</option>
            </select>
            <select ng-model="selected_level_1_category" ng-change="updateTotalGraph()">
                <option ng-repeat="x in level_1_category">{{x}}</option>
            </select>
        </p>
    </div>
    <div id="total_sales_chart" style="width: 100%; height: 350px"></div>
    <br>
</div>
</body>
</html>
