<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/body.css">

    <script>
      var app = angular.module("classicLeathers", []);
      app.controller("retailController", function($scope,$http) {
      $scope.level_0_categories = ["SHOES","SLIPPERS","BAGS","BELTS","WALLET"];
      $scope.selectedLevel_0_category=$scope.level_0_categories[0];

      $scope.shoe_categories = ["DRIVING","CASUALS","FORMALS"];
      $scope.slipper_categories = ["KORA","WAVES","A_SERIES","JUSTON"];
      $scope.all_categories = ["ALL"];
      $scope.level_1_categories = $scope.shoe_categories;
      $scope.selectedLevel_1_category=$scope.level_1_categories[0];

      $scope.isFootWear=true;
      var drivingStockEntries = [];
      $scope.DrivingShoeFilter="";
      $scope.sizeFilter="";
	  $scope.sizes = ["All","40","41","42","43","44","45","46","47"];
	  $scope.sizeFilter=$scope.sizes[0];

      $scope.filterStock = function(){
          if($scope.selectedLevel_0_category==$scope.level_0_categories[0]){
              $scope.level_1_categories = $scope.shoe_categories;
          }else if($scope.selectedLevel_0_category==$scope.level_0_categories[1]){
              $scope.level_1_categories = $scope.slipper_categories;
          }else {
              $scope.level_1_categories = $scope.all_categories;
          }
          $scope.selectedLevel_1_category=$scope.level_1_categories[0];
          $scope.filterStock1();
      }
      $scope.filterStock1 = function(){
        $http({method: 'GET', url: 'http://localhost:8080/retailStockReport/driving'})
            .then(function successCallback(response) {
                    $scope.drivingStockEntries=[];
                    var totalDrivingStock=0;
                    var actualDrivingOrderedQuantity=0;
                    for(var i = 0, size = response.data.length; i < size ; i++){
                        if((response.data[i].sku.includes("LF")&&$scope.selectedLevel_1_category=="DRIVING"&&$scope.selectedLevel_0_category=="SHOES")||
                        (response.data[i].sku.includes("CASUAL")&&$scope.selectedLevel_1_category=="CASUALS"&&$scope.selectedLevel_0_category=="SHOES")||
                        (response.data[i].sku.includes("D_")&&$scope.selectedLevel_1_category=="FORMALS"&&$scope.selectedLevel_0_category=="SHOES")||
                        (response.data[i].sku.includes("MIRAT")&&$scope.selectedLevel_1_category=="FORMALS"&&$scope.selectedLevel_0_category=="SHOES")||
                        (response.data[i].sku.includes("FORMAL")&&$scope.selectedLevel_1_category=="FORMALS"&&$scope.selectedLevel_0_category=="SHOES")||
                        (response.data[i].sku.includes("KORA")&&$scope.selectedLevel_1_category=="KORA"&&$scope.selectedLevel_0_category=="SLIPPERS")||
                        (response.data[i].sku.includes("WAVES")&&$scope.selectedLevel_1_category=="WAVES"&&$scope.selectedLevel_0_category=="SLIPPERS")||
                        (response.data[i].sku.includes("018_JUSTON")&&$scope.selectedLevel_1_category=="JUSTON"&&$scope.selectedLevel_0_category=="SLIPPERS")||
                        (response.data[i].sku.includes("A_0")&&$scope.selectedLevel_1_category=="A_SERIES"&&$scope.selectedLevel_0_category=="SLIPPERS")||
                        (response.data[i].sku.includes("WLT")&&$scope.selectedLevel_1_category=="ALL"&&$scope.selectedLevel_0_category=="WALLET")||
                        (response.data[i].sku.includes("BLT")&&$scope.selectedLevel_1_category=="ALL"&&$scope.selectedLevel_0_category=="BELTS")||
                        (response.data[i].sku.includes("_BAG")&&$scope.selectedLevel_1_category=="ALL"&&$scope.selectedLevel_0_category=="BAGS")){
                            var item = response.data[i];
                            item.showEntry=true;
                            $scope.drivingStockEntries.push(item);
                            totalDrivingStock +=  Number(item.totalQuantity);
                            actualDrivingOrderedQuantity +=  Number(item.actualOrderedQuantity);
                        }
                        if($scope.selectedLevel_0_category=="SHOES" || $scope.selectedLevel_0_category=="SLIPPERS"){
                            $scope.isFootWear=true;
                        }else{
                         $scope.isFootWear=false;
                        }
                    }
                    $scope.totalDrivingStock=totalDrivingStock;
                    $scope.actualDrivingOrderedQuantity=actualDrivingOrderedQuantity;
                    drivingStockEntries =  $scope.drivingStockEntries;
                    $scope.loadSalesData();
                },function errorCallback(response) {
                    console.log(error.value);
                }
        );
      }

      $scope.updateTotalCount = function(){
      var totalDrivingStock=0;
      var actualDrivingOrderedQuantity=0;
        for(var i = 0, size = drivingStockEntries.length; i < size ; i++){
            var item =  drivingStockEntries[i];
            item.showItem=true;
            var filterString = item.searchString;
            if(filterString.includes($scope.DrivingShoeFilter.toUpperCase())){
                if(($scope.sizeFilter.length<3 && $scope.sizeFilter==40 && Number(item.size_40_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==41 && Number(item.size_41_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==42 && Number(item.size_42_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==43 && Number(item.size_43_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==44 && Number(item.size_44_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==45 && Number(item.size_45_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==46 && Number(item.size_46_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==47 && Number(item.size_47_quantity)>0)){
                    item.showEntry=true;
                    totalDrivingStock +=  Number(item.totalQuantity);
                    actualDrivingOrderedQuantity +=  Number(item.actualOrderedQuantity);
                }else{
                item.showEntry=false;
                }
                if($scope.sizeFilter.length==3){
                    item.showEntry=true;
                    totalDrivingStock +=  Number(item.totalQuantity);
                    actualDrivingOrderedQuantity +=  Number(item.actualOrderedQuantity);
                }
            }
        }
        $scope.totalDrivingStock=totalDrivingStock;
        $scope.actualDrivingOrderedQuantity=actualDrivingOrderedQuantity;
      }

       $http({method: 'GET', url: 'http://localhost:8080/retailStockReport/driving'})
            .then(function successCallback(response) {
                    $scope.drivingStockEntries=[];
                    var totalDrivingStock=0;
                    var actualDrivingOrderedQuantity=0;
                    for(var i = 0, size = response.data.length; i < size ; i++){
                        if(response.data[i].sku.includes("LF")){
                            var item = response.data[i];
                            item.showEntry=true;
                            $scope.drivingStockEntries.push(item);
                            totalDrivingStock +=  Number(item.totalQuantity);
                            actualDrivingOrderedQuantity +=  Number(item.actualOrderedQuantity);
                        }
                    }
                    $scope.totalDrivingStock=totalDrivingStock;
                    $scope.actualDrivingOrderedQuantity=actualDrivingOrderedQuantity;
                    drivingStockEntries =  $scope.drivingStockEntries;
                },function errorCallback(response) {
                    console.log(error.value);
                }
       );

       $scope.monthNumber = 0;

       $scope.loadSalesData = function(){
            $scope.salesDataList = [];
            $http({method: 'GET', url: 'http://localhost:8080/retailCustomerSales/productSaleHistory?productSearchString=&monthNumber='+$scope.monthNumber})
                .then(function successCallback(response) {
                    for(var i = 0, size = response.data.length; i < size ; i++){
                        if((response.data[i].category.includes("LF")&&$scope.selectedLevel_1_category=="DRIVING"&&$scope.selectedLevel_0_category=="SHOES")||
                            (response.data[i].category.includes("CASUAL")&&$scope.selectedLevel_1_category=="CASUALS"&&$scope.selectedLevel_0_category=="SHOES")||
                            (response.data[i].category.includes("D_")&&$scope.selectedLevel_1_category=="FORMALS"&&$scope.selectedLevel_0_category=="SHOES")||
                            (response.data[i].category.includes("MIRAT")&&$scope.selectedLevel_1_category=="FORMALS"&&$scope.selectedLevel_0_category=="SHOES")||
                            (response.data[i].category.includes("FORMAL")&&$scope.selectedLevel_1_category=="FORMALS"&&$scope.selectedLevel_0_category=="SHOES")||
                            (response.data[i].category.includes("KORA")&&$scope.selectedLevel_1_category=="KORA"&&$scope.selectedLevel_0_category=="SLIPPERS")||
                            (response.data[i].category.includes("WAVES")&&$scope.selectedLevel_1_category=="WAVES"&&$scope.selectedLevel_0_category=="SLIPPERS")||
                            (response.data[i].category.includes("018_JUSTON")&&$scope.selectedLevel_1_category=="JUSTON"&&$scope.selectedLevel_0_category=="SLIPPERS")||
                            (response.data[i].category.includes("A_0")&&$scope.selectedLevel_1_category=="A_SERIES"&&$scope.selectedLevel_0_category=="SLIPPERS")||
                            (response.data[i].category.includes("WLT")&&$scope.selectedLevel_1_category=="ALL"&&$scope.selectedLevel_0_category=="WALLET")||
                            (response.data[i].category.includes("BLT")&&$scope.selectedLevel_1_category=="ALL"&&$scope.selectedLevel_0_category=="BELTS")||
                            (response.data[i].category.includes("_BAG")&&$scope.selectedLevel_1_category=="ALL"&&$scope.selectedLevel_0_category=="BAGS")){
                                $scope.salesDataList.push(response.data[i]);
                            }
                    }
                },function errorCallback(response) {
                    console.log(error.value);
                }
           );
       };
       $scope.loadSalesData();


       $scope.entryTypeList = ["INWARD","OUTWARD"]
       $scope.fromList = ["CLASSIC LEATHERS","PARANDHARAMAN","AJIO RETAIL"]
       $scope.toList = ["CLASSIC LEATHERS","AJIO RETAIL"]

       $http({method: 'GET', url: 'http://localhost:8080/retailStockReport/availability'})
            .then(function successCallback(response) {
                    $scope.availabilityMap =response.data;
                    $scope.level_0_category=[];
                    $scope.level_1_category=[];
                    $scope.skuList=[];
                    $scope.brandList = $scope.availabilityMap["brand"]
                    $scope.brand=$scope.brandList[0];
                    if($scope.brandList.length>0){
                        $scope.level_0_category = $scope.availabilityMap[$scope.brandList[0]];
                        $scope.level_1_category = [];
                        $scope.skuList = [];
                        $scope.colorList = [];
                    }
                },function errorCallback(response) {
                    console.log(error.value);
                }
       );

       $scope.updateLevel_0_CategoryList = function(){
            $scope.level_0_category = $scope.availabilityMap[$scope.brand];
            $scope.level_1_category = [];
            $scope.skuList = [];
            $scope.colorList = [];
            if($scope.level_0_category[0]==$scope.brandList[8]||$scope.level_0_category[0]==$scope.brandList[9]){
                $scope.level_1_category = $scope.availabilityMap[$scope.brand];
                $scope.skuList = $scope.availabilityMap[$scope.brand];
                $scope.colorList = $scope.availabilityMap[$scope.brand];
                $scope.selected_level_0_category = $scope.availabilityMap[$scope.brand][0];
                $scope.selected_level_1_category = $scope.availabilityMap[$scope.brand][0];;
                $scope.category = $scope.availabilityMap[$scope.brand][0];;
                $scope.leather = $scope.availabilityMap[$scope.brand][0];;
                $scope.productDetails = $scope.availabilityMap[$scope.brand+"_"+$scope.selected_level_0_category+"_"
                        +$scope.selected_level_1_category+"_"+$scope.category+"_"+$scope.leather][0];
            }

       }
       $scope.updateLevel_1_CategoryList = function(){
            if($scope.selected_level_0_category!=null && $scope.selected_level_0_category!=""){
                $scope.level_1_category = $scope.availabilityMap[$scope.brand+"_"+$scope.selected_level_0_category];
                $scope.skuList = [];
                $scope.colorList = [];
            }
       }
       $scope.updateSkuList = function(){
            if($scope.selected_level_1_category!=null && $scope.selected_level_1_category!=""){
                $scope.skuList = $scope.availabilityMap[$scope.brand+"_"+$scope.selected_level_0_category+"_"
                        +$scope.selected_level_1_category];
                $scope.colorList = [];
            }
       }
       $scope.updateColorList = function(){
            if($scope.skuList!=null && $scope.skuList!=""){
                $scope.colorList = $scope.availabilityMap[$scope.brand+"_"+$scope.selected_level_0_category+"_"
                        +$scope.selected_level_1_category+"_"+$scope.category];
            }
       }
       $scope.updateProductDescription = function(){
            if($scope.colorList!=null && $scope.colorList!=""){
                $scope.productDetails = $scope.availabilityMap[$scope.brand+"_"+$scope.selected_level_0_category+"_"
                        +$scope.selected_level_1_category+"_"+$scope.category+"_"+$scope.leather][0];
            }
       }

       $scope.addStockEntry = function(){
            var data={"entryType": $scope.entryType,
                "from": $scope.from,
                "to": $scope.to,
                "brand": $scope.brand,
                "level_0_Category": $scope.selected_level_0_category,
                "level_0_Category": $scope.selected_level_1_category,
                "sku": $scope.category,
                "leather": $scope.leather,
                "productDescription": $scope.productDetails,
                "size_40_quantity": $scope.size_40_quantity,
                "size_41_quantity": $scope.size_41_quantity,
                "size_42_quantity": $scope.size_42_quantity,
                "size_43_quantity": $scope.size_43_quantity,
                "size_44_quantity": $scope.size_44_quantity,
                "size_45_quantity": $scope.size_45_quantity,
                "size_46_quantity": $scope.size_46_quantity,
                "size_47_quantity": $scope.size_47_quantity,
                "totalQuantity": $scope.size_40_quantity+$scope.size_41_quantity+$scope.size_42_quantity+$scope.size_43_quantity+
                                 $scope.size_44_quantity+$scope.size_45_quantity+$scope.size_46_quantity+$scope.size_47_quantity,
                "costPrice": $scope.cost,
            };
<!--            console.log(data);-->
       }

    });





















    </script>
</head>
<body class="classicTheamColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersHome.html" class="btn btn-primary">Home</a>
        <a href=".\ClassicLeathersSalesEntry.html" class="btn btn-primary">New Sale</a>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathersMonthlySales.html" class="btn btn-primary">Sales</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
    </div>
</div>
<div ng-controller="retailController" class="working_div container">
    <p> Select Category : <select class="btn btn-primary" ng-model="selectedLevel_0_category"
                                  ng-options="x for x in level_0_categories" ng-change="filterStock()"></select>
        <select class="btn btn-primary" ng-model="selectedLevel_1_category"
                ng-options="x for x in level_1_categories" ng-change="filterStock1()"></select>
        Search by SKU / Leather: &nbsp <Input type="text" ng-model="DrivingShoeFilter" ng-change="updateTotalCount()"
                                              placeholder="BRAND SKU LEATHER">
        &nbsp&nbsp&nbsp<label>
            &nbsp Size : &nbsp <select ng-model="sizeFilter"
                                       ng-options="x for x in sizes" ng-change="updateTotalCount()"></select>
            &nbsp&nbsp&nbsp
            Number Of Pairs Sold : &nbsp{{actualDrivingOrderedQuantity-totalDrivingStock}}</label></p>
    <table class="table table-font stockTable" ng-show="isFootWear">
        <tr>
            <th>BRAND</th>
            <th>SKU</th>
            <th>LEATHER</th>
            <th>40</th>
            <th>41</th>
            <th>42</th>
            <th>43</th>
            <th>44</th>
            <th>45</th>
            <th>46</th>
            <th>47</th>
            <th>Total : {{totalDrivingStock}} / {{actualDrivingOrderedQuantity}}</th>
        </tr>
        <tr ng-repeat="drivingStockEntry in drivingStockEntries | filter:DrivingShoeFilter"
            ng-style="{'background-color': (drivingStockEntry.totalQuantity=='0')?'#ffcccc':none}">
            <td ng-show="drivingStockEntry.showEntry">{{drivingStockEntry.brand}}</td>
            <td ng-show="drivingStockEntry.showEntry">{{drivingStockEntry.sku}}</td>
            <td ng-show="drivingStockEntry.showEntry">{{drivingStockEntry.leather}}</td>
            <td ng-show="drivingStockEntry.showEntry"
                ng-style="{'background-color': (drivingStockEntry.size_40_quantity<2)?'#ffcccc':((drivingStockEntry.size_40_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_40_SalesStockInfo}}">
                    {{drivingStockEntry.size_40_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry"
                ng-style="{'background-color': (drivingStockEntry.size_41_quantity<2)?'#ffcccc':((drivingStockEntry.size_41_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_41_SalesStockInfo}}">
                    {{drivingStockEntry.size_41_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry"
                ng-style="{'background-color': (drivingStockEntry.size_42_quantity<2)?'#ffcccc':((drivingStockEntry.size_42_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_42_SalesStockInfo}}">
                    {{drivingStockEntry.size_42_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry"
                ng-style="{'background-color': (drivingStockEntry.size_43_quantity<2)?'#ffcccc':((drivingStockEntry.size_43_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_43_SalesStockInfo}}">
                    {{drivingStockEntry.size_43_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry"
                ng-style="{'background-color': (drivingStockEntry.size_44_quantity<2)?'#ffcccc':((drivingStockEntry.size_44_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_44_SalesStockInfo}}">
                    {{drivingStockEntry.size_44_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry"
                ng-style="{'background-color': (drivingStockEntry.size_45_quantity<2)?'#ffcccc':((drivingStockEntry.size_45_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_45_SalesStockInfo}}">
                    {{drivingStockEntry.size_45_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry"
                ng-style="{'background-color': (drivingStockEntry.size_46_quantity<2)?'#ffcccc':((drivingStockEntry.size_46_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_46_SalesStockInfo}}">
                    {{drivingStockEntry.size_46_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry"
                ng-style="{'background-color': (drivingStockEntry.size_47_quantity<2)?'#ffcccc':((drivingStockEntry.size_47_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_47_SalesStockInfo}}">
                    {{drivingStockEntry.size_47_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry">
                <div data-toggle="tooltip" data-placement="top"
                     title="{{drivingStockEntry.total_Quantity_SalesStockInfo}}">
                    {{drivingStockEntry.totalQuantity}}
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-font stockTable" ng-hide="isFootWear">
        <tr>
            <th>SKU</th>
            <th>LEATHER</th>
            <th>BRAND</th>

            <th>Total : {{totalDrivingStock}} / {{actualDrivingOrderedQuantity}}</th>
        </tr>
        <tr ng-repeat="drivingStockEntry in drivingStockEntries | filter:DrivingShoeFilter"
            ng-style="{'background-color': (drivingStockEntry.totalQuantity=='0')?'#ffcccc':none}">
            <td>{{drivingStockEntry.sku}}</td>
            <td>{{drivingStockEntry.leather}}</td>
            <td>{{drivingStockEntry.brand}}</td>

            <td>
                <div data-toggle="tooltip" data-placement="top"
                     title="{{drivingStockEntry.total_Quantity_SalesStockInfo}}">
                    {{drivingStockEntry.totalQuantity}}
                </div>
            </td>
        </tr>
    </table>
    <p>Sales Info || Month Number : <input type="text" ng-model="monthNumber" class="number_input_width">
        <input type="button" ng-click="loadSalesData()" value="Get Sales"
               class="btn btn-primary">
    </p>
    <table class="table table-font stockTable">
        <tr>
            <th>BRAND</th>
            <th>SKU</th>
            <th>LEATHER</th>
            <th>40</th>
            <th>41</th>
            <th>42</th>
            <th>43</th>
            <th>44</th>
            <th>45</th>
            <th>46</th>
            <th>47</th>
            <th>Total &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        </tr>
        <tr ng-repeat="salesData in salesDataList  | filter:DrivingShoeFilter">
            <td>
                {{salesData.brand}}
            </td>
            <td>
                {{salesData.category}}
            </td>
            <td>
                {{salesData.leather}}
            </td>
            <td>
                {{salesData.size_40_quantity}}
            </td>
            <td>
                {{salesData.size_41_quantity}}
            </td>
            <td>
                {{salesData.size_42_quantity}}
            </td>
            <td>
                {{salesData.size_43_quantity}}
            </td>
            <td>
                {{salesData.size_44_quantity}}
            </td>
            <td>
                {{salesData.size_45_quantity}}
            </td>
            <td>
                {{salesData.size_46_quantity}}
            </td>
            <td>
                {{salesData.size_47_quantity}}
            </td>
            <td>
                {{salesData.size_40_quantity + salesData.size_41_quantity + salesData.size_42_quantity +
                salesData.size_43_quantity + salesData.size_44_quantity + salesData.size_45_quantity +
                salesData.size_46_quantity + salesData.size_47_quantity}}
            </td>
        </tr>

    </table>

    <p>Update Stock :</p>
    <table class="table table-font">
        <tr>
            <th>
                Entry Type <select ng-model="entryType" ng-options="x for x in entryTypeList"></select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                From <select ng-model="from" ng-options="x for x in fromList"></select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                To <select ng-model="to" ng-options="x for x in toList"></select>
            </th>
        <tr>
            <th>Brand
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <select ng-model="brand" ng-change="updateLevel_0_CategoryList()">
                    <option ng-repeat="x in brandList">{{x}}</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Category &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <select ng-model="selected_level_0_category" ng-change="updateLevel_1_CategoryList()">
                    <option ng-repeat="x in level_0_category">{{x}}</option>
                </select>
                <select ng-model="selected_level_1_category" ng-change="updateSkuList()">
                    <option ng-repeat="x in level_1_category">{{x}}</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>SKU
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <select ng-model="category" ng-change="updateColorList()">
                    <option ng-repeat="x in skuList">{{x}}</option>
                </select>
                <select ng-model="leather" ng-change="updateProductDescription()">
                    <option ng-repeat="x in colorList">{{x}}</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Product Details &nbsp&nbsp&nbsp&nbsp&nbsp {{productDetails}}</th>
        </tr>
        <tr>
            <th>40 <input type="number" ng-model="size_40_quantity" class="number_input_width">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                41 <input type="number" ng-model="size_41_quantity" class="number_input_width">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                42 <input type="number" ng-model="size_42_quantity" class="number_input_width">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                43 <input type="number" ng-model="size_43_quantity" class="number_input_width">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                44 <input type="number" ng-model="size_44_quantity" class="number_input_width">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                45 <input type="number" ng-model="size_45_quantity" class="number_input_width">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                46 <input type="number" ng-model="size_46_quantity" class="number_input_width">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                47 <input type="number" ng-model="size_47_quantity" class="number_input_width">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                Total : <span>{{size_40_quantity+size_41_quantity+size_42_quantity+
                    size_43_quantity+size_44_quantity+size_45_quantity+
                    size_46_quantity+size_47_quantity}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                Cost <input type="text" ng-model="cost" class="number_input_width"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="button" ng-click="addStockEntry()" value="Update" class="text_input_width btn btn-primary"></th>
        </tr>
    </table>
</div>
</body>
</html>
