<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/body.css">

    <script>
      var app = angular.module("classicLeathers", []);
      app.controller("retailController", function($scope,$http) {

        $http({method: 'GET', url: 'http://localhost:8080/retailStockReport/driving'})
            .then(function successCallback(response) {
                    $scope.drivingStockEntries=response.data;
                },function errorCallback(response) {
                    console.log(error.value);
                }
            );
      });



    </script>
</head>
<body class="classicTheamColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersMenu.html" class="btn btn-primary">Home</a>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathers_welcomePage.html" class="btn btn-primary">Sales</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
    </div>
</div>
<div ng-controller="retailController" class="working_div container">
    <p>Driving Shoe Stock Details: &nbsp <Input type="text" ng-model="DrivingShoeFilter"></p>
    <table class="table table-font stockTable">
        <tr>
            <th>SNO</th>
            <th>SKU</th>
            <th>LEATHER</th>
            <th>BRAND</th>
            <th>40</th>
            <th>41</th>
            <th>42</th>
            <th>43</th>
            <th>44</th>
            <th>45</th>
            <th>46</th>
            <th>47</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="drivingStockEntry in drivingStockEntries | filter:DrivingShoeFilter"
            ng-style="{'background-color': (drivingStockEntry.totalQuantity=='0')?'#ffcccc':none}">
            <td ng-style="{'font-weight': (drivingStockEntry.isValidEntry=='false') ? 700:null}">
                {{drivingStockEntry.rowNumber}}
            </td>
            <td>{{drivingStockEntry.sku}}</td>
            <td>{{drivingStockEntry.leather}}</td>
            <td>{{drivingStockEntry.brand}}</td>
            <td ng-style="{'background-color': (drivingStockEntry.size_40_quantity<2)?'#f26e6e':((drivingStockEntry.size_40_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_40_SalesStockInfo}}">
                    {{drivingStockEntry.size_40_quantity}}
                </div>
            </td>
            <td ng-style="{'background-color': (drivingStockEntry.size_41_quantity<2)?'#f26e6e':((drivingStockEntry.size_41_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_41_SalesStockInfo}}">
                    {{drivingStockEntry.size_41_quantity}}
                </div>
            </td>
            <td ng-style="{'background-color': (drivingStockEntry.size_42_quantity<2)?'#f26e6e':((drivingStockEntry.size_42_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_42_SalesStockInfo}}">
                    {{drivingStockEntry.size_42_quantity}}
                </div>
            </td>
            <td ng-style="{'background-color': (drivingStockEntry.size_43_quantity<2)?'#f26e6e':((drivingStockEntry.size_43_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_43_SalesStockInfo}}">
                    {{drivingStockEntry.size_43_quantity}}
                </div>
            </td>
            <td ng-style="{'background-color': (drivingStockEntry.size_44_quantity<2)?'#f26e6e':((drivingStockEntry.size_44_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_44_SalesStockInfo}}">
                    {{drivingStockEntry.size_44_quantity}}
                </div>
            </td>
            <td ng-style="{'background-color': (drivingStockEntry.size_45_quantity<2)?'#f26e6e':((drivingStockEntry.size_45_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_45_SalesStockInfo}}">
                    {{drivingStockEntry.size_45_quantity}}
                </div>
            </td>
            <td ng-style="{'background-color': (drivingStockEntry.size_46_quantity<2)?'#f26e6e':((drivingStockEntry.size_46_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_46_SalesStockInfo}}">
                    {{drivingStockEntry.size_46_quantity}}
                </div>
            </td>
            <td ng-style="{'background-color': (drivingStockEntry.size_47_quantity<2)?'#f26e6e':((drivingStockEntry.size_47_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_47_SalesStockInfo}}">
                    {{drivingStockEntry.size_47_quantity}}
                </div>
            </td>
            <td>
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.total_Quantity_SalesStockInfo}}">
                    {{drivingStockEntry.totalQuantity}}
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
