<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="./resource/classic_logo_icon.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/body.css">

    <script>
      var app = angular.module("classicLeathers", []);
      app.controller("retailController", function($scope,$http) {
      $scope.footWearTypes = ["DRIVING","KORA","WAVES","A_SERIES","HAND BAG","CASUALS","FORMALS","WALLET","JUSTON"];
      $scope.selectedFootwearType=$scope.footWearTypes[0];
      $scope.isFootWear=true;
      var drivingStockEntries = [];
      $scope.DrivingShoeFilter="";
      $scope.sizeFilter="";
	  $scope.sizes = ["All","40","41","42","43","44","45","46","47"];
	  $scope.sizeFilter=$scope.sizes[0];

      $scope.filterStock = function(){
        $http({method: 'GET', url: 'http://localhost:8080/retailStockReport/driving'})
            .then(function successCallback(response) {
                    $scope.drivingStockEntries=[];
                    var totalDrivingStock=0;
                    var actualDrivingOrderedQuantity=0;
                    for(var i = 0, size = response.data.length; i < size ; i++){
                        if((response.data[i].sku.includes("LF")&&$scope.selectedFootwearType=="DRIVING")||
                        (response.data[i].sku.includes("KORA")&&$scope.selectedFootwearType=="KORA")||
                        (response.data[i].sku.includes("WAVES")&&$scope.selectedFootwearType=="WAVES")||
                        (response.data[i].sku.includes("018_JUSTON")&&$scope.selectedFootwearType=="JUSTON")||
                        (response.data[i].sku.includes("A_0")&&$scope.selectedFootwearType=="A_SERIES")||
                        (response.data[i].sku.includes("CASUAL")&&$scope.selectedFootwearType=="CASUALS")||
                        (response.data[i].sku.includes("D_")&&$scope.selectedFootwearType=="FORMALS")||
                        (response.data[i].sku.includes("MIRAT")&&$scope.selectedFootwearType=="FORMALS")||
                        (response.data[i].sku.includes("FORMAL")&&$scope.selectedFootwearType=="FORMALS")||
                        (response.data[i].sku.includes("WLT")&&$scope.selectedFootwearType=="WALLET")||
                        (response.data[i].sku.includes("_BAG")&&$scope.selectedFootwearType=="HAND BAG")){
                            var item = response.data[i];
                            item.showEntry=true;
                            $scope.drivingStockEntries.push(item);
                            totalDrivingStock +=  Number(item.totalQuantity);
                            actualDrivingOrderedQuantity +=  Number(item.actualOrderedQuantity);
                        }
                        if($scope.selectedFootwearType=="DRIVING"||$scope.selectedFootwearType=="KORA"||
                        $scope.selectedFootwearType=="WAVES"||$scope.selectedFootwearType=="A_SERIES"||
                        $scope.selectedFootwearType=="CASUALS"||$scope.selectedFootwearType=="FORMALS"
                        ||$scope.selectedFootwearType=="JUSTON"){
                            $scope.isFootWear=true;
                        }else{
                         $scope.isFootWear=false;
                        }
                    }
                    $scope.totalDrivingStock=totalDrivingStock;
                    $scope.actualDrivingOrderedQuantity=actualDrivingOrderedQuantity;
                    drivingStockEntries =  $scope.drivingStockEntries;
                },function errorCallback(response) {
                    console.log(error.value);
                }
        );
      }

      $scope.updateTotalCount = function(){
      var totalDrivingStock=0;
      var actualDrivingOrderedQuantity=0;
        for(var i = 0, size = drivingStockEntries.length; i < size ; i++){
            var item =  drivingStockEntries[i];
            item.showItem=true;
            var filterString = item.searchString;
            if(filterString.includes($scope.DrivingShoeFilter.toUpperCase())){
                if(($scope.sizeFilter.length<3 && $scope.sizeFilter==40 && Number(item.size_40_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==41 && Number(item.size_41_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==42 && Number(item.size_42_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==43 && Number(item.size_43_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==44 && Number(item.size_44_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==45 && Number(item.size_45_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==46 && Number(item.size_46_quantity)>0)||
                ($scope.sizeFilter.length<3 && $scope.sizeFilter==47 && Number(item.size_47_quantity)>0)){
                    item.showEntry=true;
                    totalDrivingStock +=  Number(item.totalQuantity);
                    actualDrivingOrderedQuantity +=  Number(item.actualOrderedQuantity);
                }else{
                item.showEntry=false;
                }
                if($scope.sizeFilter.length==3){
                    item.showEntry=true;
                    totalDrivingStock +=  Number(item.totalQuantity);
                    actualDrivingOrderedQuantity +=  Number(item.actualOrderedQuantity);
                }
            }
        }
        $scope.totalDrivingStock=totalDrivingStock;
        $scope.actualDrivingOrderedQuantity=actualDrivingOrderedQuantity;
      }

       $http({method: 'GET', url: 'http://localhost:8080/retailStockReport/driving'})
            .then(function successCallback(response) {
                    $scope.drivingStockEntries=[];
                    var totalDrivingStock=0;
                    var actualDrivingOrderedQuantity=0;
                    for(var i = 0, size = response.data.length; i < size ; i++){
                        if(response.data[i].sku.includes("LF")){
                            var item = response.data[i];
                            item.showEntry=true;
                            $scope.drivingStockEntries.push(item);
                            totalDrivingStock +=  Number(item.totalQuantity);
                            actualDrivingOrderedQuantity +=  Number(item.actualOrderedQuantity);
                        }
                    }
                    $scope.totalDrivingStock=totalDrivingStock;
                    $scope.actualDrivingOrderedQuantity=actualDrivingOrderedQuantity;
                    drivingStockEntries =  $scope.drivingStockEntries;
                },function errorCallback(response) {
                    console.log(error.value);
                }
       );
    });






    </script>
</head>
<body class="classicTheamColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="./resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href=".\ClassicLeathersHome.html" class="btn btn-primary">Home</a>
        <a href=".\ClassicLeathersSalesEntry.html" class="btn btn-primary">New Sale</a>
        <a href=".\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href=".\ClassicLeathersMonthlySales.html" class="btn btn-primary">Sales</a>
        <a href=".\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
    </div>
</div>
<div ng-controller="retailController" class="working_div container">
    <p> Select Category : <select class="btn btn-primary" ng-model="selectedFootwearType"
                                  ng-options="x for x in footWearTypes" ng-change="filterStock()"></select>
        Search by SKU / Leather: &nbsp <Input type="text" ng-model="DrivingShoeFilter" ng-change="updateTotalCount()"
                                              placeholder="BRAND SKU LEATHER">
        &nbsp&nbsp&nbsp<label>
            &nbsp Size : &nbsp <select ng-model="sizeFilter"
                    ng-options="x for x in sizes" ng-change="updateTotalCount()"></select>
            &nbsp&nbsp&nbsp
            Number Of Pairs Sold : &nbsp{{actualDrivingOrderedQuantity-totalDrivingStock}}</label></p>
    <table class="table table-font stockTable" ng-show="isFootWear">
        <tr>
            <th>BRAND</th>
            <th>SKU</th>
            <th>LEATHER</th>
            <th>40</th>
            <th>41</th>
            <th>42</th>
            <th>43</th>
            <th>44</th>
            <th>45</th>
            <th>46</th>
            <th>47</th>
            <th>Total : {{totalDrivingStock}} / {{actualDrivingOrderedQuantity}}</th>
        </tr>
        <tr ng-repeat="drivingStockEntry in drivingStockEntries | filter:DrivingShoeFilter"
            ng-style="{'background-color': (drivingStockEntry.totalQuantity=='0')?'#ffcccc':none}">
            <td ng-show="drivingStockEntry.showEntry">{{drivingStockEntry.brand}}</td>
            <td ng-show="drivingStockEntry.showEntry">{{drivingStockEntry.sku}}</td>
            <td ng-show="drivingStockEntry.showEntry">{{drivingStockEntry.leather}}</td>
            <td ng-show="drivingStockEntry.showEntry" ng-style="{'background-color': (drivingStockEntry.size_40_quantity<2)?'#ffcccc':((drivingStockEntry.size_40_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_40_SalesStockInfo}}">
                    {{drivingStockEntry.size_40_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry" ng-style="{'background-color': (drivingStockEntry.size_41_quantity<2)?'#ffcccc':((drivingStockEntry.size_41_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_41_SalesStockInfo}}">
                    {{drivingStockEntry.size_41_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry" ng-style="{'background-color': (drivingStockEntry.size_42_quantity<2)?'#ffcccc':((drivingStockEntry.size_42_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_42_SalesStockInfo}}">
                    {{drivingStockEntry.size_42_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry" ng-style="{'background-color': (drivingStockEntry.size_43_quantity<2)?'#ffcccc':((drivingStockEntry.size_43_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_43_SalesStockInfo}}">
                    {{drivingStockEntry.size_43_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry" ng-style="{'background-color': (drivingStockEntry.size_44_quantity<2)?'#ffcccc':((drivingStockEntry.size_44_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_44_SalesStockInfo}}">
                    {{drivingStockEntry.size_44_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry" ng-style="{'background-color': (drivingStockEntry.size_45_quantity<2)?'#ffcccc':((drivingStockEntry.size_45_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_45_SalesStockInfo}}">
                    {{drivingStockEntry.size_45_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry" ng-style="{'background-color': (drivingStockEntry.size_46_quantity<2)?'#ffcccc':((drivingStockEntry.size_46_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_46_SalesStockInfo}}">
                    {{drivingStockEntry.size_46_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry" ng-style="{'background-color': (drivingStockEntry.size_47_quantity<2)?'#ffcccc':((drivingStockEntry.size_47_quantity>=3)?'#62de6f':none)}">
                <div data-toggle="tooltip" data-placement="top" title="{{drivingStockEntry.size_47_SalesStockInfo}}">
                    {{drivingStockEntry.size_47_quantity}}
                </div>
            </td>
            <td ng-show="drivingStockEntry.showEntry">
                <div data-toggle="tooltip" data-placement="top"
                     title="{{drivingStockEntry.total_Quantity_SalesStockInfo}}">
                    {{drivingStockEntry.totalQuantity}}
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-font stockTable" ng-hide="isFootWear">
        <tr>
            <th>SKU</th>
            <th>LEATHER</th>
            <th>BRAND</th>

            <th>Total : {{totalDrivingStock}} / {{actualDrivingOrderedQuantity}}</th>
        </tr>
        <tr ng-repeat="drivingStockEntry in drivingStockEntries | filter:DrivingShoeFilter"
            ng-style="{'background-color': (drivingStockEntry.totalQuantity=='0')?'#ffcccc':none}">
            <td>{{drivingStockEntry.sku}}</td>
            <td>{{drivingStockEntry.leather}}</td>
            <td>{{drivingStockEntry.brand}}</td>

            <td>
                <div data-toggle="tooltip" data-placement="top"
                     title="{{drivingStockEntry.total_Quantity_SalesStockInfo}}">
                    {{drivingStockEntry.totalQuantity}}
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
