<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="../resource/classic_logo_icon.png">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/body.css">
    <script>
      var app = angular.module("classicLeathersProduction", []);
      app.controller("jobCardProgressController", function($scope,$http) {
      $scope.showUpdateJobCardProgressDiv=false;
      $scope.showOverallProgressDiv=false;
      $scope.productionStages = ["CUTTING", "JOB WORK" , "HS","FINISHING",
                                "PACKING","DISPATCH",
                                "CUTTING_REWORK", "JOB WORK REWORK" , "HS_REWORK","FINISHING_REWORK",
                                "PACKING_REWORK","DISPATCH_REWORK"];
      $scope.productionStage= $scope.productionStages[0];
      var jobCardProgressList;

       $http({method: 'GET', url: 'http://localhost:8080/jobCard/getJobCardFiles'})
       .then(function successCallback(response) {
	        $scope.jobCardFileNames=response.data;
       },function errorCallback(response) {
			console.log(error.value);
         }
       );

        $scope.getJobCardProgressDetails = function(){
            $scope.showUpdateJobCardProgressDiv=false;
            $scope.showOverallProgressDiv=false;
        }
        $scope.updateJobCardProgress = function(){
            if($scope.selectedJobCardFile != null){
                $scope.showUpdateJobCardProgressDiv=true;
                $scope.showOverallProgressDiv=false;
                $http({method: 'GET', url: 'http://localhost:8080/jobCard/jobCardProgressSkus?jobCardFileName='+$scope.selectedJobCardFile})
                .then(function successCallback(response) {
	                $scope.jobCardProgressSkus=response.data;
                },function errorCallback(response) {
			        console.log(error.value);
                  }
                );

                $http({method: 'GET', url: 'http://localhost:8080/jobCard/jobCardProgressList?jobCardFileName='+$scope.selectedJobCardFile})
                .then(function successCallback(response) {
                    jobCardProgressList=response.data;
	                $scope.jobCardProgressList=response.data;
                },function errorCallback(response) {
			        console.log(error.value);
                  }
                );

            }else{
                window.alert("Select Job Card");
            }
        }

        $scope.saveJobCardProgressEntry = function(){
        if($scope.selectedSku!=null&&$scope.selectedProductionStage!=null&&$scope.count!=null&&
        $scope.selectedSku!=""&&$scope.selectedProductionStage!=""&&$scope.count!=""){
            var strings =$scope.selectedSku.split("_");
            var data= {"sku": strings[0],
                       "leather": strings[1],
                       "size":strings[2],
                      "productionStage": $scope.selectedProductionStage,
                      "count": $scope.count
                      };
            $http.post('http://localhost:8080/jobCard/saveJobCardProgress?jobCardFileName='+$scope.selectedJobCardFile,data,{})
                    .then(data => {
                        $scope.selectedSku="";
                        $scope.selectedProductionStage="";
                        $scope.count="";
                    })
                    .catch(error => {
                        console.log(error.value);
                    });
            $http({method: 'GET', url: 'http://localhost:8080/jobCard/jobCardProgressList?jobCardFileName='+$scope.selectedJobCardFile})
                .then(function successCallback(response) {
	                var rowCount=0;
	                 if($scope.jobCardProgressList.length !=0){
	                  rowCount=$scope.jobCardProgressList.length;
	                  }
	                jobCardProgressList[rowCount]={"date": "",
	                  "sku": $scope.selectedSku,
                      "productionStage": $scope.selectedProductionStage,
                      "count": $scope.count
                      }
                      $scope.jobCardProgressList=jobCardProgressList;
                },function errorCallback(response) {
			        console.log(error.value);
                  }
                );
            }else{
                window.alert("Invalid data");
            }
        }

        $scope.getOverAllProgress = function(){
            $scope.showUpdateJobCardProgressDiv=false;
            $scope.showOverallProgressDiv=true;
        }

      });



    </script>
</head>
<body class="classicTheamColor" ng-app="classicLeathersProduction">

<div class="header_div">
    <img class="images" src="../resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">PRODUCTION UNIT @ AMBUR</label>
        <a href=".\ClassicLeathersProductionMenu.html" class="btn btn-primary">Home</a>
        <a href=".\JobCard.html" class="btn btn-primary">Create Job Card</a>
    </div>
</div>
<div ng-controller="jobCardProgressController" class="working_div container">
    <p>JOB CARD PROGRESS</p>
    <table class="table table-font">
        <tr>
            <td><label>Select Job Card</label> <select ng-model="selectedJobCardFile"
                                                       ng-options="x for x in jobCardFileNames"
                                                       ng-change="getJobCardProgressDetails()"></select></td>
            <td><input type="button" ng-click="updateJobCardProgress()" value="Update Progress"
                       class="btn btn-primary"></td>
            <td><input type="button" ng-click="getOverAllProgress()" value="Get Overall Progress"
                       class="btn btn-primary"></td>
        </tr>
    </table>
    <div ng-show="showUpdateJobCardProgressDiv">
        <table class="table table-font">
            <tr>
                <th>JOB CARD :
                    <label>{{selectedJobCardFile}}</label>
                </th>
                <th>SKU
                    <select ng-model="selectedSku" ng-options="x for x in jobCardProgressSkus"></select>
                </th>
                <th>Production Stage
                    <select ng-model="selectedProductionStage" ng-options="x for x in productionStages"></select>
                </th>
                <th>Count
                    <input type="text" ng-model="count" class="text_input_width">
                </th>
                <th>
                    <input type="button" ng-click="saveJobCardProgressEntry()" value="save"
                           class="text_input_width btn btn-primary">
                </th>

            </tr>
        </table>
        <table class="table table-font" ng-model="jobCardProgressList">
            <tr>
                <th>Sku</th>
                <th>Production Stage</th>
                <th>count</th>
            </tr>
            <tr ng-repeat="jobCardProgressEntry in jobCardProgressList">
                <td>{{jobCardProgressEntry.sku}}</td>
                <td>{{jobCardProgressEntry.productionStage}}</td>
                <td>{{jobCardProgressEntry.count}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="showOverallProgressDiv">
        Show Job Card progress based on daily progress details
    </div>
</div>
</body>
</html>
