<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="../resource/classic_logo_icon.png">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/body.css">
    <script>
		var app = angular.module("classicLeathersProduction", []);
		app.controller("jobCardProgressController", function($scope,$http) {
		$scope.showUpdateJobCardProgressDiv=false;
		$scope.showOverallProgressDiv=false;
		$scope.productionStages = ["CUTTING","UPPER","HS","FINISHING","PACKING","DISPATCH"];
		$scope.sizes = ["40","41","42","43","44","45","46","47"];
		$scope.productionStage= $scope.productionStages[0];
		var jobCardProgressList;

		$http({method: 'GET', url: 'http://localhost:8080/jobCard/getJobCardFiles'})
		.then(
			function successCallback(response) {
				$scope.jobCardFileNames=response.data;
			},
			function errorCallback(response) {
				console.log(error.value);
			}
		);

        $scope.getJobCardProgressDetails = function(){
            $scope.showUpdateJobCardProgressDiv=false;
            $scope.showOverallProgressDiv=false;
        }
        $scope.updateJobCardProgress = function(){
            if($scope.selectedJobCardFile != null && $scope.selectedJobCardFile != ""){
                $scope.showUpdateJobCardProgressDiv=true;
                $scope.showOverallProgressDiv=false;
                $http({method: 'GET', url: 'http://localhost:8080/jobCard/jobCardProgressSkus?jobCardFileName='+$scope.selectedJobCardFile})
                .then(function successCallback(response) {
	                $scope.jobCardProgressSkus=response.data;
                },function errorCallback(response) {
			        console.log(error.value);
                  }
                );

                $http({method: 'GET', url: 'http://localhost:8080/jobCard/jobCardProgressList?jobCardFileName='+$scope.selectedJobCardFile})
                .then(function successCallback(response) {
                    jobCardProgressList=response.data;
	                $scope.jobCardProgressList=response.data;
                },function errorCallback(response) {
			        console.log(error.value);
                  }
                );

            }else{
                window.alert("Select Job Card");
            }
        }

        $scope.saveJobCardProgressEntry = function(){
        if($scope.selectedSku!=null&&$scope.selectedProductionStage!=null&&$scope.count!=null&&
            $scope.selectedSku!=""&&$scope.selectedProductionStage!=""&&$scope.count!=""){
                var strings =$scope.selectedSku.split("_");
                var data= {
                    "sku": strings[0],
                    "leather": strings[1],
                    "size":$scope.selectedSize,
                    "productionStage": $scope.selectedProductionStage,
                    "count": $scope.count,
                    "batchNumber": $scope.batchNumber,
                    "packingBoxNumber": $scope.packingBoxNumber,
                    "courierName": $scope.courierName,
                    "trackingNumber": $scope.trackingNumber
                };
                    var count=jobCardProgressList.length;
                    $scope.saveJobCardProgressEntryErrorMessage="";
                    $scope.jobCardProgressList[count]=data;
                    $http.post('http://localhost:8080/jobCard/saveJobCardProgress?jobCardFileName='+$scope.selectedJobCardFile,data,{})
                    .then(data => {
                        $scope.selectedSku="";
                        $scope.selectedProductionStage="";
                        $scope.selectedSize="";
                        $scope.count="";
                        $scope.saveJobCardProgressEntryErrorMessage="";
                        $scope.batchNumber= "",
                        $scope.packingBoxNumber= "",
                        $scope.courierName= "",
                        $scope.trackingNumber= ""
                    })
                    .catch(error => {
                        $scope.jobCardProgressList.pop();
                        $scope.count="";
                        $scope.saveJobCardProgressEntryErrorMessage = error.data;
                    });
            }else{
                window.alert("Invalid data");
            }
        }

        $scope.getOverAllProgress = function(){
            if($scope.selectedJobCardFile != null && $scope.selectedJobCardFile != ""){
                $scope.showUpdateJobCardProgressDiv=false;
                $scope.showOverallProgressDiv=true;
                $http({method: 'GET', url: 'http://localhost:8080/jobCard/jobCardOverAllProgressList?jobCardFileName='+$scope.selectedJobCardFile})
                    .then(function successCallback(response) {
                        $scope.overAllJobCardProgressList = response.data;
                    },function errorCallback(response) {
                        console.log(error.value);
                      }
                    );
            }else{
                window.alert("Select Job Card");
            }

        }

      });





    </script>
</head>
<body class="classicTheamColor" ng-app="classicLeathersProduction">

<div class="header_div">
    <img class="images" src="../resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">PRODUCTION UNIT @ AMBUR</label>
        <a href=".\ClassicLeathersProductionMenu.html" class="btn btn-primary">Home</a>
        <a href=".\JobCard.html" class="btn btn-primary">Create Job Card</a>
    </div>
</div>
<div ng-controller="jobCardProgressController" class="working_div container">
    <p>JOB CARD PROGRESS</p>
    <table class="table table-font">
        <tr>
            <td><label>Select Job Card</label> <select ng-model="selectedJobCardFile"
                                                       ng-options="x for x in jobCardFileNames"
                                                       ng-change="getJobCardProgressDetails()"></select></td>
            <td><input type="button" ng-click="updateJobCardProgress()" value="Update Progress"
                       class="btn btn-primary"></td>
            <td><input type="button" ng-click="getOverAllProgress()" value="Get Overall Progress"
                       class="btn btn-primary"></td>
        </tr>
    </table>
    <div ng-show="showUpdateJobCardProgressDiv">
        <table class="table table-font">
            <tr>
                <th>JOB CARD :
                    <label>{{selectedJobCardFile}}</label>
                </th>
                <th>SKU
                    <select ng-model="selectedSku" ng-options="x for x in jobCardProgressSkus"></select>
                </th>
                <th>Size
                    <select ng-model="selectedSize" ng-options="x for x in sizes"></select>
                </th>
                <th>Production Stage
                    <select ng-model="selectedProductionStage" ng-options="x for x in productionStages"></select>
                </th>
                <th>Count
                    <input type="text" ng-model="count" class="text_input_width">
                </th>
                </th>
                <th ng-show="selectedProductionStage == 'PACKING'">Batch Number
                    <input type="text" ng-model="batchNumber" class="text_input_width">
                </th>
                <th ng-show="selectedProductionStage == 'PACKING'">Box Number
                    <input type="text" ng-model="packingBoxNumber" class="text_input_width">
                </th>
                <th ng-show="selectedProductionStage == 'DISPATCH'">Courier Name
                    <input type="text" ng-model="courierName" class="text_input_width">
                </th>
                <th ng-show="selectedProductionStage == 'DISPATCH'">Tracking Number
                    <input type="text" ng-model="trackingNumber" class="text_input_width">
                </th>
                <th>
                    <P class="text-danger">{{saveJobCardProgressEntryErrorMessage}}</P>
                    <input type="button" ng-click="saveJobCardProgressEntry()" value="save"
                           class="text_input_width btn btn-primary">
                </th>

            </tr>
        </table>
        <table class="table table-font" ng-model="jobCardProgressList">
            <tr>
                <th>Filter: <Input class="text_input_width" type="text" ng-model="jobCardProgressEntryFilter"></th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Sku</th>
                <th>Leather</th>
                <th>Size</th>
                <th>Production Stage</th>
                <th>count</th>
                <th>Batch / Courier Number</th>
                <th>Box Number / Tracking Number</th>
            </tr>
            <tr ng-repeat="jobCardProgressEntry in jobCardProgressList | filter:jobCardProgressEntryFilter">
                <td>{{jobCardProgressEntry.date}}</td>
                <td>{{jobCardProgressEntry.sku}}</td>
                <td>{{jobCardProgressEntry.leather}}</td>
                <td>{{jobCardProgressEntry.size}}</td>
                <td>{{jobCardProgressEntry.productionStage}}</td>
                <td>{{jobCardProgressEntry.count}}</td>
                <td>{{jobCardProgressEntry.batchNumber}} {{jobCardProgressEntry.courierName}}</td>
                <td>{{jobCardProgressEntry.packingBoxNumber}} {{jobCardProgressEntry.trackingNumber}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="showOverallProgressDiv">
        <table class="table table-font">
            <tr>
                <th>Filter: <Input class="text_input_width" type="text" ng-model="overAllJobCardProgressListFilter">
                </th>
            </tr>
            <tr>
                <td>SKU</td>
                <td>LEATHER</td>
                <td>SIZE</td>
                <td>ORDERED</td>
                <td>CUTTING_COMPLETED</td>
                <td>UPPER_COMPLETED</td>
                <td>HS_COMPLETED</td>
                <td>FINISHED</td>
                <td>PACKED</td>
                <td>DISPATCHED</td>

            </tr>
            <tr ng-repeat="dto in overAllJobCardProgressList | filter:overAllJobCardProgressListFilter">
                <td>{{dto.sku}}</td>
                <td>{{dto.leather}}</td>
                <td>40</td>
                <td>{{dto.size_40_ordered_quantity}}</td>
                <td>{{dto.size_40_cutting_quantity}}</td>
                <td>{{dto.size_40_upperMaking_quantity}}</td>
                <td>{{dto.size_40_hs_quantity}}</td>
                <td>{{dto.size_40_finished_quantity}}</td>
                <td>{{dto.size_40_packed_quantity}}</td>
                <td>{{dto.size_40_dispatched_quantity}}</td>
            </tr>
            <tr ng-repeat="dto in overAllJobCardProgressList | filter:overAllJobCardProgressListFilter">
                <td>{{dto.sku}}</td>
                <td>{{dto.leather}}</td>
                <td>41</td>
                <td>{{dto.size_41_ordered_quantity}}</td>
                <td>{{dto.size_41_cutting_quantity}}</td>
                <td>{{dto.size_41_upperMaking_quantity}}</td>
                <td>{{dto.size_41_hs_quantity}}</td>
                <td>{{dto.size_41_finished_quantity}}</td>
                <td>{{dto.size_41_packed_quantity}}</td>
                <td>{{dto.size_41_dispatched_quantity}}</td>
            </tr>
            <tr ng-repeat="dto in overAllJobCardProgressList | filter:overAllJobCardProgressListFilter">
                <td>{{dto.sku}}</td>
                <td>{{dto.leather}}</td>
                <td>42</td>
                <td>{{dto.size_42_ordered_quantity}}</td>
                <td>{{dto.size_42_cutting_quantity}}</td>
                <td>{{dto.size_42_upperMaking_quantity}}</td>
                <td>{{dto.size_42_hs_quantity}}</td>
                <td>{{dto.size_42_finished_quantity}}</td>
                <td>{{dto.size_42_packed_quantity}}</td>
                <td>{{dto.size_42_dispatched_quantity}}</td>
            </tr>
            <tr ng-repeat="dto in overAllJobCardProgressList | filter:overAllJobCardProgressListFilter">
                <td>{{dto.sku}}</td>
                <td>{{dto.leather}}</td>
                <td>43</td>
                <td>{{dto.size_43_ordered_quantity}}</td>
                <td>{{dto.size_43_cutting_quantity}}</td>
                <td>{{dto.size_43_upperMaking_quantity}}</td>
                <td>{{dto.size_43_hs_quantity}}</td>
                <td>{{dto.size_43_finished_quantity}}</td>
                <td>{{dto.size_43_packed_quantity}}</td>
                <td>{{dto.size_43_dispatched_quantity}}</td>
            </tr>
            <tr ng-repeat="dto in overAllJobCardProgressList | filter:overAllJobCardProgressListFilter">
                <td>{{dto.sku}}</td>
                <td>{{dto.leather}}</td>
                <td>44</td>
                <td>{{dto.size_44_ordered_quantity}}</td>
                <td>{{dto.size_44_cutting_quantity}}</td>
                <td>{{dto.size_44_upperMaking_quantity}}</td>
                <td>{{dto.size_44_hs_quantity}}</td>
                <td>{{dto.size_44_finished_quantity}}</td>
                <td>{{dto.size_44_packed_quantity}}</td>
                <td>{{dto.size_44_dispatched_quantity}}</td>
            </tr>

            <tr ng-repeat="dto in overAllJobCardProgressList | filter:overAllJobCardProgressListFilter">
                <td>{{dto.sku}}</td>
                <td>{{dto.leather}}</td>
                <td>45</td>
                <td>{{dto.size_45_ordered_quantity}}</td>
                <td>{{dto.size_45_cutting_quantity}}</td>
                <td>{{dto.size_45_upperMaking_quantity}}</td>
                <td>{{dto.size_45_hs_quantity}}</td>
                <td>{{dto.size_45_finished_quantity}}</td>
                <td>{{dto.size_45_packed_quantity}}</td>
                <td>{{dto.size_45_dispatched_quantity}}</td>
            </tr>

            <tr ng-repeat="dto in overAllJobCardProgressList | filter:overAllJobCardProgressListFilter">
                <td>{{dto.sku}}</td>
                <td>{{dto.leather}}</td>
                <td>46</td>
                <td>{{dto.size_46_ordered_quantity}}</td>
                <td>{{dto.size_46_cutting_quantity}}</td>
                <td>{{dto.size_46_upperMaking_quantity}}</td>
                <td>{{dto.size_46_hs_quantity}}</td>
                <td>{{dto.size_46_finished_quantity}}</td>
                <td>{{dto.size_46_packed_quantity}}</td>
                <td>{{dto.size_46_dispatched_quantity}}</td>
            </tr>

            <tr ng-repeat="dto in overAllJobCardProgressList | filter:overAllJobCardProgressListFilter">
                <td>{{dto.sku}}</td>
                <td>{{dto.leather}}</td>
                <td>47</td>
                <td>{{dto.size_47_ordered_quantity}}</td>
                <td>{{dto.size_47_cutting_quantity}}</td>
                <td>{{dto.size_47_upperMaking_quantity}}</td>
                <td>{{dto.size_47_hs_quantity}}</td>
                <td>{{dto.size_47_finished_quantity}}</td>
                <td>{{dto.size_47_packed_quantity}}</td>
                <td>{{dto.size_47_dispatched_quantity}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
