<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="../resource/classic_logo_icon.png">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/body.css">
    <script>
      var app = angular.module("classicLeathersProduction", []);
      app.controller("purchaseOrderProgressController", function($scope,$http) {
      $scope.showUpdatePOProgressDiv=false;
      $scope.showOverallPOProgressDiv=false;

      $http({method: 'GET', url: 'http://localhost:8080/purchaseOrder/getPOFiles'})
            .then(function successCallback(response) {
					$scope.poFileNames=response.data;
            },
            function errorCallback(response) {
					console.log(error.value);
            }
        );

        $scope.getPOProgressDetails = function(){
            $scope.showUpdatePOProgressDiv=false;
            $scope.showOverallPOProgressDiv=false;
        }
        $scope.updatePOProgress = function(){
            $scope.showUpdatePOProgressDiv=true;
            $scope.showOverallPOProgressDiv=false;
        }
        $scope.getOverAllPOProgress = function(){
            $scope.showUpdatePOProgressDiv=false;
            $scope.showOverallPOProgressDiv=true;
        }

      });

    </script>
</head>
<body class="classicTheamColor" ng-app="classicLeathersProduction">

<div class="header_div">
    <img class="images" src="../resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">PRODUCTION UNIT @ AMBUR</label>
        <a href=".\ClassicLeathersProductionMenu.html" class="btn btn-primary">Home</a>
        <a href=".\PurchaseOrder.html" class="btn btn-primary">Create Job Card</a>
    </div>
</div>
<div ng-controller="purchaseOrderProgressController" class="working_div container">
    <p>PURCHASE ORDER PROGRESS</p>
    <table class="table table-font">
        <tr>
            <td><label>Select PO</label>  <select ng-model="selectedPoFile" ng-options="x for x in poFileNames"
                        ng-change="getPOProgressDetails()"></select></td>
            <td><input type="button" ng-click="updatePOProgress()" value="Update Progress"
                       class="btn btn-primary"></td>
            <td><input type="button" ng-click="getOverAllPOProgress()" value="Get Overall PO Progress"
                       class="btn btn-primary"></td>
        </tr>
    </table>
    <div ng-show="showUpdatePOProgressDiv">
        Add po progress on daily basis
    </div>
    <div ng-show="showOverallPOProgressDiv">
        Show PO progress based on daily progress details
    </div>
</div>
</body>
</html>
