<html>
<head>
    <title>Classic Leathers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="../resource/classic_logo_icon.png">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/body.css">
    <script type="text/javascript">
     var app = angular.module("classicLeathers", []);

     app.controller("stockController", function($scope,$http) {
        $scope.sizeFilter="";
	    $scope.sizes = ["All","39","40","41","42","43","44","45","46","47"];
	    $scope.sizeFilter=$scope.sizes[0];

        <!--     GET STOCK AVAILABILITY DETAILS START-->
                $http({method: 'GET', url: 'http://localhost:8080/retailStockReport/getStockReport'})
                    .then(function successCallback(response) {
                            $scope.availableStockEntries=response.data;
                            $scope.stockEntries=response.data;
                             console.log($scope.stockEntries)
                        },function errorCallback(response) {
                            console.log(error.value);
                        }
               );

               $scope.filterSize = function(){
                $scope.stockEntries=[];
                var filteredEntries=[];
                for(var i = 0, size = $scope.availableStockEntries.length; i < size ; i++){
                    var item =  $scope.availableStockEntries[i];
                    console.log($scope.sizeFilter.length<3 && $scope.sizeFilter==39 && Number(item.size_39)>0);
                    if(($scope.sizeFilter.length<3 && $scope.sizeFilter==39 && Number(item.size_39)>0)||
                    ($scope.sizeFilter.length<3 && $scope.sizeFilter==40 && Number(item.size_40)>0)||
                    ($scope.sizeFilter.length<3 && $scope.sizeFilter==41 && Number(item.size_41)>0)||
                    ($scope.sizeFilter.length<3 && $scope.sizeFilter==42 && Number(item.size_42)>0)||
                    ($scope.sizeFilter.length<3 && $scope.sizeFilter==43 && Number(item.size_43)>0)||
                    ($scope.sizeFilter.length<3 && $scope.sizeFilter==44 && Number(item.size_44)>0)||
                    ($scope.sizeFilter.length<3 && $scope.sizeFilter==45 && Number(item.size_45)>0)||
                    ($scope.sizeFilter.length<3 && $scope.sizeFilter==46 && Number(item.size_46)>0)||
                    ($scope.sizeFilter.length<3 && $scope.sizeFilter==47 && Number(item.size_47)>0)){
                          filteredEntries.push(item);
                    }

                    if(filteredEntries.length>0){
                        $scope.stockEntries=filteredEntries;
                    }else{
                        $scope.stockEntries=$scope.availableStockEntries;
                    }
                }
               }
        <!--     GET STOCK AVAILABILITY DETAILS END-->

        $scope.isAdmin = decodeURIComponent((new RegExp('[?|&]' + 'add' + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;

        $scope.loadStores = function(){
            $http({method: 'GET', url: 'http://localhost:8080/stock/stores'})
                .then(function successCallback(response) {
                        $scope.storeList = response.data;
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
          );
        }
        $scope.loadStores();
        $scope.addStore = function(){
            if($scope.newStore !=null){
                $scope.storeList.push($scope.newStore);
                $scope.newStore=null;
                $scope.isAdmin=false;
            }else{
                window.alert("Invalid Store Name");
           }
        }


        $scope.loadBrands = function(){
            $http({method: 'GET', url: 'http://localhost:8080/stock/brands'})
                .then(function successCallback(response) {
                        $scope.brandList = response.data;
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
          );
        }
        $scope.loadBrands();
        $scope.addBrand = function(){
            if($scope.newBrand !=null){
                $scope.brandList.push($scope.newBrand);
                $scope.newBrand=null;
                $scope.isAdmin=false;
            }else{
                window.alert("Invalid Brand Name");
           }
        }



        $scope.loadSkus = function(){
            $http({method: 'GET', url: 'http://localhost:8080/stock/skus'})
                .then(function successCallback(response) {
                        $scope.skuList = response.data;
                    },function errorCallback(response) {
                        console.log(error.value);
                    }
          );
        }
        $scope.loadSkus();
        $scope.addSku = function(){
            if($scope.newSku !=null){
                $scope.skuList.push($scope.newSku);
                $scope.newSku=null;
                $scope.isAdmin=false;
            }else{
                window.alert("Invalid SKU Name");
           }
        }



        $scope.isValidSku = true;
        $scope.updateStockDTOList = [];
        $scope.isStockAudit=false;
        $scope.saveStockDetails = function(){
            if($scope.fromStore ==null){
                 window.alert("Invalid From Store");
            }else if($scope.toStore ==null){
                 window.alert("Invalid To Store");
            }else if($scope.brand ==null){
                 window.alert("Invalid Brand");
            }else if($scope.sku !=null){
                 const newSkus= $scope.sku.split('\n');
                 newSkus.forEach(validateSKU);
                 if($scope.isValidSku){
                    for(var i = 0, size = newSkus.length; i < size ; i++){
                        var item = newSkus[i];
                        var data={"brand": $scope.brand,
                                  "from": $scope.fromStore,
                                  "to": $scope.toStore,
                                  "sku": item
                            };
                        $scope.updateStockDTOList.push(data);
                    }
                    $http.post('http://localhost:8080/stock?isAudit='+$scope.isStockAudit,$scope.updateStockDTOList,{})
                        .then(data => {
                            $scope.message="Data Saved Successfully"
                            $scope.sku=null;
                            $scope.updateStockDTOList = [];
                        })
                        .catch(error => {
                            console.log(error.value);
                        });
                 }else{
                    $scope.isValidSku = true;
                 }
            }else{
                window.alert("Invalid SKU Data");
            }

        }

        function validateSKU(value){
            if($scope.skuList.indexOf(value)<0){
                $scope.isValidSku = false;
                    window.alert("Invalid SKU"+value);
            }
        }
     });








    </script>

</head>
<body class="classicThemeColor" ng-app="classicLeathers">

<div class="header_div">
    <img class="images" src="../resource/classic_logo.png"/>
    <div class="menu_div container">
        <label class="welcome_label">RETAIL STORE TIRUPATI</label>
        <a href="..\ClassicLeathersHome.html" class="btn btn-primary">Home</a>
        <a href="..\ClassicLeathersSalesEntry.html" class="btn btn-primary">New Sale</a>
        <a href="..\ClassicLeathersTimeSheet.html" class="btn btn-primary">Time Sheet</a>
        <a href="..\ClassicLeathersMonthlySales.html" class="btn btn-primary">Sales</a>
        <a href="..\ClassicLeathersExpense.html" class="btn btn-primary">Expense</a>
    </div>
</div>
<div ng-controller="stockController" class="working_div container">
    <div>
        <p><input type="checkbox" ng-model="isUpdateStock">&nbsp&nbsp&nbspUPDATE STOCK ENTRY</p>
        <p><input type="checkbox" ng-model="isStockAudit">&nbsp&nbsp&nbspAUDIT STOCK</p>
    </div>
    <div ng-hide="isUpdateStock || isStockAudit">
        <p> Search by SKU / Leather: &nbsp <Input type="text" ng-model="stockFilter" placeholder="BRAND SKU LEATHER">
            &nbsp&nbsp&nbsp<label>
                &nbsp Size : &nbsp <select ng-model="sizeFilter"
                                           ng-options="x for x in sizes" ng-change="filterSize()"></select></p>
        <table class="table table-font stockTable">
            <tr>
                <th>BRAND</th>
                <th>ARTICLE</th>
                <th>39</th>
                <th>40</th>
                <th>41</th>
                <th>42</th>
                <th>43</th>
                <th>44</th>
                <th>45</th>
                <th>46</th>
                <th>47</th>
                <th>Total</th>
            </tr>
            <tr ng-repeat="entry in stockEntries | filter:stockFilter">
                <td>{{entry.brand}}</td>
                <td>{{entry.article}}</td>
                <td ng-style="{'background-color': (entry.size_39<2)?'#ffcccc':((entry.size_39>=3)?'#62de6f':none)}">{{entry.size_39}}</td>
                <td ng-style="{'background-color': (entry.size_40<2)?'#ffcccc':((entry.size_40>=3)?'#62de6f':none)}">{{entry.size_40}}</td>
                <td ng-style="{'background-color': (entry.size_41<2)?'#ffcccc':((entry.size_41>=3)?'#62de6f':none)}">{{entry.size_41}}</td>
                <td ng-style="{'background-color': (entry.size_42<2)?'#ffcccc':((entry.size_42>=3)?'#62de6f':none)}">{{entry.size_42}}</td>
                <td ng-style="{'background-color': (entry.size_43<2)?'#ffcccc':((entry.size_43>=3)?'#62de6f':none)}">{{entry.size_43}}</td>
                <td ng-style="{'background-color': (entry.size_44<2)?'#ffcccc':((entry.size_44>=3)?'#62de6f':none)}">{{entry.size_44}}</td>
                <td ng-style="{'background-color': (entry.size_45<2)?'#ffcccc':((entry.size_45>=3)?'#62de6f':none)}">{{entry.size_45}}</td>
                <td ng-style="{'background-color': (entry.size_46<2)?'#ffcccc':((entry.size_46>=3)?'#62de6f':none)}">{{entry.size_46}}</td>
                <td ng-style="{'background-color': (entry.size_47<2)?'#ffcccc':((entry.size_47>=3)?'#62de6f':none)}">{{entry.size_47}}</td>
                <td>{{entry.size_39 + entry.size_40+ entry.size_41+ entry.size_42+ entry.size_43+
                    entry.size_44+ entry.size_45+ entry.size_46+ entry.size_47}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="isUpdateStock || isStockAudit">
        <table class="table table-font">
            <tr ng-show="isAdmin">
                <td>Store</td>
                <td><input type="text" ng-model="newStore"></td>
            </tr>
            <tr ng-show="isAdmin">
                <td></td>
                <td><input type="button" value="Add Store" class="btn btn-primary" ng-click="addStore()"></td>
            </tr>
            <tr ng-hide="isAdmin">
                <td>From</td>
                <td><select ng-model="fromStore" ng-options="x for x in storeList"></select></td>
            </tr>
            <tr ng-hide="isAdmin">
                <td>To</td>
                <td><select ng-model="toStore" ng-options="x for x in storeList"></select></td>
            </tr>
            <tr ng-show="isAdmin">
                <td>Brand</td>
                <td><input type="text" ng-model="newBrand"></td>
            </tr>
            <tr ng-show="isAdmin">
                <td></td>
                <td><input type="button" value="Add Brand" class="btn btn-primary" ng-click="addBrand()"></td>
            </tr>
            <tr ng-hide="isAdmin">
                <td>Brand</td>
                <td><select ng-model="brand" ng-options="x for x in brandList"></select></td>
            </tr>
            <tr ng-show="isAdmin">
                <td>SKU / Purchase Cost / MRP</td>
                <td><input type="text" ng-model="newSku"> / <input type="text" ng-model="purchaseCost"> / <input
                        type="text" ng-model="mrp"></td>
            </tr>
            <tr ng-show="isAdmin">
                <td>Category / Description</td>
                <td><input type="text" ng-model="category"> / <input type="text" ng-model="description">
            </tr>

            <tr ng-show="isAdmin">
                <td></td>
                <td><input type="button" value="Add Sku" class="btn btn-primary" ng-click="addSku()"></td>
            </tr>
            <tr ng-hide="isAdmin">
                <td>SKU</td>
                <td><textarea ng-model="sku" rows="10" cols="20"></textarea></td>
            </tr>
            <tr ng-hide="isAdmin">
                <td><input type="button" value="save" class="btn btn-primary" ng-click="saveStockDetails()"></td>
                <td><span ng-bind="message"></span></td>
            </tr>
        </table>
    </div>


</div>
</body>
</html>
